openapi: 3.1.1
info:
  title: Tessl Admin Keys Tiles API
  version: 1.0.0
  description: Admin-scoped API keys for support tooling.
servers:
- url: https://api.tessl.io
tags:
- name: Tiles
  description: Tile catalog, versions, and metadata.
paths:
  /v1/tiles:
    get:
      tags:
      - Tiles
      description: Lists tiles in the catalog. Supports search, filtering by workspace/registry/featured, and ranked sorting.
      parameters:
      - schema:
          default: -updatedAt
          anyOf:
          - type: array
            items:
              anyOf:
              - type: string
                enum:
                - updatedAt
              - type: string
                enum:
                - -updatedAt
              - type: string
                enum:
                - similarity
              - type: string
                enum:
                - -similarity
              - type: string
                enum:
                - id
              - type: string
                enum:
                - -id
              - type: string
                enum:
                - relevance
              - type: string
                enum:
                - -relevance
              - type: string
                enum:
                - evalImprovementMultiplier
              - type: string
                enum:
                - -evalImprovementMultiplier
          - anyOf:
            - type: string
              enum:
              - updatedAt
            - type: string
              enum:
              - -updatedAt
            - type: string
              enum:
              - similarity
            - type: string
              enum:
              - -similarity
            - type: string
              enum:
              - id
            - type: string
              enum:
              - -id
            - type: string
              enum:
              - relevance
            - type: string
              enum:
              - -relevance
            - type: string
              enum:
              - evalImprovementMultiplier
            - type: string
              enum:
              - -evalImprovementMultiplier
        in: query
        name: sort
        required: false
      - schema:
          minimum: 1
          maximum: 20
          default: 20
          type: number
        in: query
        name: page[size]
        required: false
      - schema:
          type: string
        in: query
        name: page[after]
        required: false
      - schema:
          type: string
        in: query
        name: page[before]
        required: false
      - schema:
          type: string
        in: query
        name: filter[fullName]
        required: false
      - schema:
          type: string
        in: query
        name: filter[fullName][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[fullName][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[fullName][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[fullName][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[fullName][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[fullName][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[fullName][like]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][like]
        required: false
      - schema:
          type: string
        in: query
        name: filter[search]
        required: false
      - schema:
          type: string
        in: query
        name: filter[search][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[search][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[search][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[search][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[search][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[search][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[search][like]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[archived]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[archived][eq]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[archived][ne]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[workspaceId]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[workspaceId][eq]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[workspaceId][ne]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[workspaceId][gt]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[workspaceId][gte]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[workspaceId][lt]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[workspaceId][lte]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[workspaceId][like]
        required: false
      - schema:
          pattern: ^[a-z]+$
          type: string
        in: query
        name: filter[packageRegistry]
        required: false
      - schema:
          pattern: ^[a-z]+$
          type: string
        in: query
        name: filter[packageRegistry][eq]
        required: false
      - schema:
          pattern: ^[a-z]+$
          type: string
        in: query
        name: filter[packageRegistry][ne]
        required: false
      - schema:
          pattern: ^[a-z]+$
          type: string
        in: query
        name: filter[packageRegistry][gt]
        required: false
      - schema:
          pattern: ^[a-z]+$
          type: string
        in: query
        name: filter[packageRegistry][gte]
        required: false
      - schema:
          pattern: ^[a-z]+$
          type: string
        in: query
        name: filter[packageRegistry][lt]
        required: false
      - schema:
          pattern: ^[a-z]+$
          type: string
        in: query
        name: filter[packageRegistry][lte]
        required: false
      - schema:
          pattern: ^[a-z]+$
          type: string
        in: query
        name: filter[packageRegistry][like]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[featured]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[featured][eq]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[featured][ne]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[hasSkills]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[hasSkills][eq]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[hasSkills][ne]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[hasSteering]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[hasSteering][eq]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[hasSteering][ne]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[hasDocs]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[hasDocs][eq]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[hasDocs][ne]
        required: false
      - schema:
          anyOf:
          - type: string
            enum:
            - versions
          - type: array
            items:
              type: string
              enum:
              - versions
        in: query
        name: include
        required: false
      - schema:
          type: boolean
        in: query
        name: includeModerationFailed
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    - next
                    - prev
                    properties:
                      self:
                        format: uri
                        type: string
                      next:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                      prev:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      - meta
                      properties:
                        id:
                          format: uuid
                          type: string
                        type:
                          type: string
                          enum:
                          - tile
                        attributes:
                          type: object
                          required:
                          - name
                          - describes
                          - featured
                          - isPrivate
                          - fullName
                          - createdAt
                          - updatedAt
                          properties:
                            name:
                              type: string
                            describes:
                              anyOf:
                              - type: string
                              - type: 'null'
                            featured:
                              type: boolean
                            isPrivate:
                              type: boolean
                            fullName:
                              type: string
                            createdAt:
                              format: date-time
                              type: string
                            updatedAt:
                              format: date-time
                              type: string
                            similarity:
                              anyOf:
                              - type: number
                              - type: 'null'
                            relevance:
                              anyOf:
                              - type: number
                              - type: 'null'
                            evalImprovementMultiplier:
                              anyOf:
                              - type: number
                              - type: 'null'
                            versions:
                              type: array
                              items:
                                type: object
                                required:
                                - describes
                                - version
                                - summary
                                - major
                                - minor
                                - patch
                                - archived
                                - createdAt
                                - tesslVerified
                                - docs
                                - hasDocs
                                - hasSteering
                                - hasSkills
                                - evalScore
                                - evalBaselineScore
                                - evalImprovement
                                - evalImprovementMultiplier
                                - moderationStatus
                                - moderationError
                                properties:
                                  describes:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                  version:
                                    format: date-time
                                    type: string
                                  summary:
                                    type: string
                                  major:
                                    type: number
                                  minor:
                                    type: number
                                  patch:
                                    type: number
                                  archived:
                                    type: boolean
                                  createdAt:
                                    type: string
                                  tesslVerified:
                                    type: boolean
                                  docs:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                  hasDocs:
                                    type: boolean
                                  hasSteering:
                                    type: boolean
                                  hasSkills:
                                    type: boolean
                                  evalScore:
                                    anyOf:
                                    - type: integer
                                    - type: 'null'
                                  evalBaselineScore:
                                    anyOf:
                                    - type: integer
                                    - type: 'null'
                                  evalImprovement:
                                    anyOf:
                                    - type: integer
                                    - type: 'null'
                                  evalImprovementMultiplier:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  moderationStatus:
                                    description: Aggregate outcome of the moderation pipeline. `pass` means moderation passed; `skipped` means moderation did not run; `pending` means moderation is in progress; `fail` means moderation rejected the version; `error` means moderation could not complete.
                                    anyOf:
                                    - type: string
                                      enum:
                                      - pending
                                    - type: string
                                      enum:
                                      - pass
                                    - type: string
                                      enum:
                                      - fail
                                    - type: string
                                      enum:
                                      - error
                                    - type: string
                                      enum:
                                      - skipped
                                  moderationError:
                                    anyOf:
                                    - description: Reason for non-visible moderation state. Populated for `fail` and `error`. Null for `pass`, `skipped`, and `pending`.
                                      type: string
                                    - type: 'null'
                                  moderationPassed:
                                    deprecated: true
                                    type: boolean
                                  scores:
                                    type: object
                                    required:
                                    - version
                                    - aggregate
                                    - quality
                                    - impact
                                    - security
                                    - evalAvg
                                    - evalBaseline
                                    - evalImprovement
                                    - evalImprovementMultiplier
                                    - evalCount
                                    - validationErrors
                                    - lastScoredAt
                                    properties:
                                      version:
                                        type: string
                                      aggregate:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                      quality:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                      impact:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                      security:
                                        anyOf:
                                        - anyOf:
                                          - type: string
                                            enum:
                                            - LOW
                                          - type: string
                                            enum:
                                            - MEDIUM
                                          - type: string
                                            enum:
                                            - HIGH
                                          - type: string
                                            enum:
                                            - CRITICAL
                                        - type: 'null'
                                      evalAvg:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                      evalBaseline:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                      evalImprovement:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                      evalImprovementMultiplier:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                      evalCount:
                                        anyOf:
                                        - type: integer
                                        - type: 'null'
                                      validationErrors:
                                        type: array
                                        items:
                                          type: string
                                      lastScoredAt:
                                        anyOf:
                                        - format: date-time
                                          type: string
                                        - type: 'null'
                        relationships:
                          type: object
                          required:
                          - workspace
                          properties:
                            workspace:
                              type: object
                              required:
                              - data
                              - links
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  properties:
                                    id:
                                      format: uuid
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - workspace
                                links:
                                  type: object
                                  required:
                                  - self
                                  properties:
                                    self:
                                      format: uri
                                      type: string
                        meta:
                          type: object
                          required:
                          - allowedActions
                          properties:
                            allowedActions:
                              type: array
                              items:
                                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    post:
      summary: Publish a tile version
      tags:
      - Tiles
      description: Publishes a new tile version to the registry. If the tile does not yet exist, it will be created automatically. The request body should be a gzipped tar archive (tar.gz) containing the tile manifest (tile.json) and tile contents, e.g. markdown documentation files, eval scenarios, etc. The tile name and version are extracted from the manifest file.
      parameters:
      - schema:
          type: string
          enum:
          - application/x-tar
        in: header
        name: content-type
        required: true
      - schema:
          type: string
        in: header
        name: github-oidc-token
        required: false
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - tile
                      attributes:
                        type: object
                        required:
                        - featured
                        - isPrivate
                        - workspaceId
                        - name
                        - version
                        - fullName
                        - describes
                        - createdAt
                        - updatedAt
                        properties:
                          featured:
                            type: boolean
                          isPrivate:
                            type: boolean
                          workspaceId:
                            format: uuid
                            type: string
                          name:
                            minLength: 1
                            maxLength: 90
                            type: string
                          version:
                            type: string
                          fullName:
                            type: string
                          describes:
                            anyOf:
                            - type: string
                            - type: 'null'
                          createdAt:
                            format: date-time
                            type: string
                          updatedAt:
                            format: date-time
                            type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Bad Request
                      status:
                        type: number
                        enum:
                        - 400
                      message:
                        type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                description: Conflict
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Conflict
                      status:
                        type: number
                        enum:
                        - 409
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                description: Not Implemented
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Implemented
                      status:
                        type: number
                        enum:
                        - 501
                      message:
                        type: string
  /v1/tiles/match:
    post:
      tags:
      - Tiles
      description: Returns the tiles that describe each of the given package URLs (purls).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - purls
              properties:
                purls:
                  minItems: 0
                  maxItems: 1000
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        required:
                        - workspaceName
                        - tileName
                        - version
                        - describes
                        properties:
                          workspaceName:
                            type: string
                          tileName:
                            type: string
                          version:
                            type: string
                          describes:
                            type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/tiles/{workspaceName}/{tileName}:
    get:
      tags:
      - Tiles
      description: Fetches a tile by workspace and tile name, including its latest version.
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceName
        required: true
      - schema:
          type: string
        in: path
        name: tileName
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    - meta
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - tile
                      attributes:
                        type: object
                        required:
                        - name
                        - fullName
                        - featured
                        - isPrivate
                        - createdAt
                        - updatedAt
                        - latestVersion
                        - latestVersionData
                        - archived
                        - archivedBy
                        - archivedAt
                        - archivedReason
                        - moderationPassed
                        - moderationError
                        - tesslVerified
                        - sourceUrl
                        properties:
                          name:
                            type: string
                          fullName:
                            type: string
                          featured:
                            type: boolean
                          isPrivate:
                            type: boolean
                          createdAt:
                            format: date-time
                            type: string
                          updatedAt:
                            format: date-time
                            type: string
                          latestVersion:
                            anyOf:
                            - type: string
                            - type: 'null'
                          latestVersionData:
                            anyOf:
                            - type: object
                              required:
                              - id
                              - type
                              - attributes
                              properties:
                                id:
                                  format: uuid
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - tile-version
                                attributes:
                                  type: object
                                  required:
                                  - fingerprint
                                  - version
                                  - major
                                  - minor
                                  - patch
                                  - prerelease
                                  - describes
                                  - docs
                                  - steering
                                  - hasSteering
                                  - hasSkills
                                  - hasDocs
                                  - summary
                                  - archived
                                  - archivedAt
                                  - archivedBy
                                  - archivedReason
                                  - moderationStatus
                                  - moderationPassed
                                  - moderationError
                                  - createdAt
                                  - updatedAt
                                  - evalScore
                                  - evalBaselineScore
                                  - evalImprovement
                                  - evalImprovementMultiplier
                                  - scores
                                  - publishMeta
                                  properties:
                                    fingerprint:
                                      pattern: ^[0-9a-f]{64}$
                                      type: string
                                    version:
                                      type: string
                                    major:
                                      type: number
                                    minor:
                                      type: number
                                    patch:
                                      type: number
                                    prerelease:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    describes:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    docs:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    steering:
                                      anyOf:
                                      - type: object
                                        additionalProperties:
                                          type: object
                                          required:
                                          - rules
                                          properties:
                                            rules:
                                              type: string
                                      - type: 'null'
                                    hasSteering:
                                      type: boolean
                                    hasSkills:
                                      type: boolean
                                    hasDocs:
                                      type: boolean
                                    summary:
                                      type: string
                                    archived:
                                      type: boolean
                                    archivedAt:
                                      anyOf:
                                      - format: date-time
                                        type: string
                                      - type: 'null'
                                    archivedBy:
                                      anyOf:
                                      - format: uuid
                                        type: string
                                      - type: 'null'
                                    archivedReason:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    moderationStatus:
                                      description: Aggregate outcome of the moderation pipeline. `pass` means moderation passed; `skipped` means moderation did not run; `pending` means moderation is in progress; `fail` means moderation rejected the version; `error` means moderation could not complete.
                                      anyOf:
                                      - type: string
                                        enum:
                                        - pending
                                      - type: string
                                        enum:
                                        - pass
                                      - type: string
                                        enum:
                                        - fail
                                      - type: string
                                        enum:
                                        - error
                                      - type: string
                                        enum:
                                        - skipped
                                    moderationPassed:
                                      deprecated: true
                                      type: boolean
                                    moderationError:
                                      anyOf:
                                      - description: Reason for non-visible moderation state. Populated for `fail` and `error`. Null for `pass`, `skipped`, and `pending`.
                                        type: string
                                      - type: 'null'
                                    createdAt:
                                      format: date-time
                                      type: string
                                    updatedAt:
                                      format: date-time
                                      type: string
                                    evalScore:
                                      anyOf:
                                      - type: integer
                                      - type: 'null'
                                    evalBaselineScore:
                                      anyOf:
                                      - type: integer
                                      - type: 'null'
                                    evalImprovement:
                                      anyOf:
                                      - type: integer
                                      - type: 'null'
                                    evalImprovementMultiplier:
                                      anyOf:
                                      - type: number
                                      - type: 'null'
                                    scores:
                                      type: object
                                      required:
                                      - version
                                      - aggregate
                                      - quality
                                      - impact
                                      - security
                                      - evalAvg
                                      - evalBaseline
                                      - evalImprovement
                                      - evalImprovementMultiplier
                                      - evalCount
                                      - validationErrors
                                      - lastScoredAt
                                      properties:
                                        version:
                                          type: string
                                        aggregate:
                                          anyOf:
                                          - type: number
                                          - type: 'null'
                                        quality:
                                          anyOf:
                                          - type: number
                                          - type: 'null'
                                        impact:
                                          anyOf:
                                          - type: number
                                          - type: 'null'
                                        security:
                                          anyOf:
                                          - anyOf:
                                            - type: string
                                              enum:
                                              - LOW
                                            - type: string
                                              enum:
                                              - MEDIUM
                                            - type: string
                                              enum:
                                              - HIGH
                                            - type: string
                                              enum:
                                              - CRITICAL
                                          - type: 'null'
                                        evalAvg:
                                          anyOf:
                                          - type: number
                                          - type: 'null'
                                        evalBaseline:
                                          anyOf:
                                          - type: number
                                          - type: 'null'
                                        evalImprovement:
                                          anyOf:
                                          - type: number
                                          - type: 'null'
                                        evalImprovementMultiplier:
                                          anyOf:
                                          - type: number
                                          - type: 'null'
                                        evalCount:
                                          anyOf:
                                          - type: integer
                                          - type: 'null'
                                        validationErrors:
                                          type: array
                                          items:
                                            type: string
                                        lastScoredAt:
                                          anyOf:
                                          - format: date-time
                                            type: string
                                          - type: 'null'
                                    publishMeta:
                                      anyOf:
                                      - type: object
                                        required:
                                        - source
                                        - userId
                                        properties:
                                          source:
                                            type: string
                                            enum:
                                            - cli
                                          userId:
                                            anyOf:
                                            - type: string
                                            - type: 'null'
                                      - type: object
                                        required:
                                        - source
                                        properties:
                                          source:
                                            type: string
                                            enum:
                                            - github
                            - type: 'null'
                          archived:
                            type: boolean
                          archivedBy:
                            anyOf:
                            - format: uuid
                              type: string
                            - type: 'null'
                          archivedAt:
                            anyOf:
                            - format: date-time
                              type: string
                            - type: 'null'
                          archivedReason:
                            anyOf:
                            - type: string
                            - type: 'null'
                          moderationPassed:
                            deprecated: true
                            type: boolean
                          moderationError:
                            anyOf:
                            - description: Reason for non-visible moderation state. Populated for `fail` and `error`. Null for `pass`, `skipped`, and `pending`.
                              type: string
                            - type: 'null'
                          tesslVerified:
                            type: boolean
                          sourceUrl:
                            anyOf:
                            - format: uri
                              type: string
                            - type: 'null'
                      relationships:
                        type: object
                        required:
                        - workspace
                        properties:
                          workspace:
                            type: object
                            required:
                            - data
                            - links
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    format: uuid
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - workspace
                              links:
                                type: object
                                required:
                                - self
                                properties:
                                  self:
                                    format: uri
                                    type: string
                      meta:
                        type: object
                        required:
                        - allowedActions
                        properties:
                          allowedActions:
                            type: array
                            items:
                              type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    patch:
      tags:
      - Tiles
      description: Updates a tile (visibility, featured flag, archive/restore).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - minProperties: 1
                type: object
                required:
                - archived
                properties:
                  archived:
                    type: boolean
                    enum:
                    - true
                  archivedReason:
                    type: string
              - minProperties: 1
                type: object
                required:
                - archived
                properties:
                  archived:
                    type: boolean
                    enum:
                    - false
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceName
        required: true
      - schema:
          type: string
        in: path
        name: tileName
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - tile
                      attributes:
                        type: object
                        required:
                        - name
                        - fullName
                        - featured
                        - isPrivate
                        - archived
                        - archivedAt
                        - archivedBy
                        - archivedReason
                        - createdAt
                        - updatedAt
                        properties:
                          name:
                            type: string
                          fullName:
                            type: string
                          featured:
                            type: boolean
                          isPrivate:
                            type: boolean
                          archived:
                            type: boolean
                          archivedAt:
                            anyOf:
                            - format: date-time
                              type: string
                            - type: 'null'
                          archivedBy:
                            anyOf:
                            - format: uuid
                              type: string
                            - type: 'null'
                          archivedReason:
                            anyOf:
                            - type: string
                            - type: 'null'
                          createdAt:
                            format: date-time
                            type: string
                          updatedAt:
                            format: date-time
                            type: string
                      relationships:
                        type: object
                        required:
                        - workspace
                        properties:
                          workspace:
                            type: object
                            required:
                            - data
                            - links
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    format: uuid
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - workspace
                              links:
                                type: object
                                required:
                                - self
                                properties:
                                  self:
                                    format: uri
                                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    delete:
      tags:
      - Tiles
      description: Deletes a tile and all of its versions. Allowed within 48 hours of publish, or any time if the tile is private or has fewer than 500 downloads.
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceName
        required: true
      - schema:
          type: string
        in: path
        name: tileName
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '204':
          description: Default Response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                description: Service Unavailable
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Service Unavailable
                      status:
                        type: number
                        enum:
                        - 503
                      message:
                        type: string
  /v1/tiles/{workspaceName}/{tileName}/stats:
    get:
      tags:
      - Tiles
      description: Returns install and skill-activation usage stats for a tile (7d or 30d window).
      parameters:
      - schema:
          default: 30d
          anyOf:
          - type: string
            enum:
            - 7d
          - type: string
            enum:
            - 30d
        in: query
        name: period
        required: false
      - schema:
          type: string
        in: path
        name: workspaceName
        required: true
      - schema:
          type: string
        in: path
        name: tileName
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - tile-stats
                      attributes:
                        type: object
                        required:
                        - usage
                        properties:
                          usage:
                            type: object
                            required:
                            - period
                            - installs
                            - activations
                            properties:
                              period:
                                anyOf:
                                - type: string
                                  enum:
                                  - 7d
                                - type: string
                                  enum:
                                  - 30d
                              installs:
                                type: object
                                required:
                                - total
                                - active
                                - weekly
                                properties:
                                  total:
                                    type: integer
                                  active:
                                    type: integer
                                  weekly:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - week
                                      - count
                                      properties:
                                        week:
                                          type: string
                                        count:
                                          type: integer
                              activations:
                                type: object
                                required:
                                - total
                                - weekly
                                - skills
                                properties:
                                  total:
                                    type: integer
                                  weekly:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - week
                                      - count
                                      properties:
                                        week:
                                          type: string
                                        count:
                                          type: integer
                                  skills:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - skill
                                      - total
                                      - weekly
                                      properties:
                                        skill:
                                          type: string
                                        total:
                                          type: integer
                                        weekly:
                                          type: array
                                          items:
                                            type: object
                                            required:
                                            - week
                                            - count
                                            properties:
                                              week:
                                                type: string
                                              count:
                                                type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/tiles/{workspaceName}/{tileName}/versions:
    get:
      tags:
      - Tiles
      description: Lists versions of a tile, with semver and describes filters. Pass `includeArchived=true` to also return archived versions (excluded by default).
      parameters:
      - schema:
          default: -version
          anyOf:
          - type: array
            items:
              anyOf:
              - type: string
                enum:
                - version
              - type: string
                enum:
                - -version
          - anyOf:
            - type: string
              enum:
              - version
            - type: string
              enum:
              - -version
        in: query
        name: sort
        required: false
      - schema:
          minimum: 1
          maximum: 100
          default: 100
          type: number
        in: query
        name: page[size]
        required: false
      - schema:
          type: string
        in: query
        name: page[after]
        required: false
      - schema:
          type: string
        in: query
        name: page[before]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[describes][like]
        required: false
      - schema:
          type: string
        in: query
        name: filter[major]
        required: false
      - schema:
          type: string
        in: query
        name: filter[major][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[major][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[major][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[major][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[major][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[major][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[major][like]
        required: false
      - schema:
          type: string
        in: query
        name: filter[minor]
        required: false
      - schema:
          type: string
        in: query
        name: filter[minor][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[minor][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[minor][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[minor][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[minor][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[minor][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[minor][like]
        required: false
      - schema:
          type: string
        in: query
        name: filter[patch]
        required: false
      - schema:
          type: string
        in: query
        name: filter[patch][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[patch][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[patch][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[patch][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[patch][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[patch][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[patch][like]
        required: false
      - schema:
          type: boolean
        in: query
        name: includeArchived
        required: false
      - schema:
          type: string
        in: path
        name: workspaceName
        required: true
      - schema:
          type: string
        in: path
        name: tileName
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    - next
                    - prev
                    properties:
                      self:
                        format: uri
                        type: string
                      next:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                      prev:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      - links
                      properties:
                        id:
                          format: uuid
                          type: string
                        type:
                          type: string
                          enum:
                          - tile-version
                        attributes:
                          type: object
                          required:
                          - fingerprint
                          - version
                          - major
                          - minor
                          - patch
                          - prerelease
                          - describes
                          - archived
                          - archivedAt
                          - archivedBy
                          - archivedReason
                          - docs
                          - steering
                          - hasSteering
                          - hasSkills
                          - hasDocs
                          - summary
                          - tesslVerified
                          - moderationStatus
                          - moderationError
                          - createdAt
                          - updatedAt
                          - evalScore
                          - evalBaselineScore
                          - evalImprovement
                          - evalImprovementMultiplier
                          properties:
                            fingerprint:
                              pattern: ^[0-9a-f]{64}$
                              type: string
                            version:
                              type: string
                            major:
                              type: number
                            minor:
                              type: number
                            patch:
                              type: number
                            prerelease:
                              anyOf:
                              - type: string
                              - type: 'null'
                            describes:
                              anyOf:
                              - type: string
                              - type: 'null'
                            archived:
                              type: boolean
                            archivedAt:
                              anyOf:
                              - format: date-time
                                type: string
                              - type: 'null'
                            archivedBy:
                              anyOf:
                              - format: uuid
                                type: string
                              - type: 'null'
                            archivedReason:
                              anyOf:
                              - type: string
                              - type: 'null'
                            docs:
                              anyOf:
                              - type: string
                              - type: 'null'
                            steering:
                              anyOf:
                              - type: object
                                additionalProperties:
                                  type: object
                                  required:
                                  - rules
                                  properties:
                                    rules:
                                      type: string
                              - type: 'null'
                            hasSteering:
                              type: boolean
                            hasSkills:
                              type: boolean
                            hasDocs:
                              type: boolean
                            summary:
                              type: string
                            tesslVerified:
                              type: boolean
                            moderationStatus:
                              description: Aggregate outcome of the moderation pipeline. `pass` means moderation passed; `skipped` means moderation did not run; `pending` means moderation is in progress; `fail` means moderation rejected the version; `error` means moderation could not complete.
                              anyOf:
                              - type: string
                                enum:
                                - pending
                              - type: string
                                enum:
                                - pass
                              - type: string
                                enum:
                                - fail
                              - type: string
                                enum:
                                - error
                              - type: string
                                enum:
                                - skipped
                            moderationError:
                              anyOf:
                              - description: Reason for non-visible moderation state. Populated for `fail` and `error`. Null for `pass`, `skipped`, and `pending`.
                                type: string
                              - type: 'null'
                            createdAt:
                              format: date-time
                              type: string
                            updatedAt:
                              format: date-time
                              type: string
                            evalScore:
                              anyOf:
                              - type: integer
                              - type: 'null'
                            evalBaselineScore:
                              anyOf:
                              - type: integer
                              - type: 'null'
                            evalImprovement:
                              anyOf:
                              - type: integer
                              - type: 'null'
                            evalImprovementMultiplier:
                              anyOf:
                              - type: number
                              - type: 'null'
                        relationships:
                          type: object
                          required:
                          - tile
                          properties:
                            tile:
                              type: object
                              required:
                              - data
                              - links
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  properties:
                                    id:
                                      format: uuid
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - tile
                                links:
                                  type: object
                                  required:
                                  - self
                                  properties:
                                    self:
                                      format: uri
                                      type: string
                        links:
                          type: object
                          required:
                          - self
                          properties:
                            self:
                              format: uri
                              type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/tiles/{workspaceName}/{tileName}/versions/{version}:
    get:
      tags:
      - Tiles
      description: Fetches a specific tile version by semver string.
      parameters:
      - schema:
          type: boolean
        in: query
        name: includePolicyVerdict
        required: false
      - schema:
          type: string
        in: path
        name: workspaceName
        required: true
      - schema:
          type: string
        in: path
        name: tileName
        required: true
      - schema:
          type: string
        in: path
        name: version
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - tile-version
                      attributes:
                        type: object
                        required:
                        - fingerprint
                        - version
                        - major
                        - minor
                        - patch
                        - prerelease
                        - describes
                        - docs
                        - steering
                        - hasSteering
                        - hasSkills
                        - hasDocs
                        - summary
                        - archived
                        - archivedAt
                        - archivedBy
                        - archivedReason
                        - moderationStatus
                        - moderationPassed
                        - moderationError
                        - createdAt
                        - updatedAt
                        - evalScore
                        - evalBaselineScore
                        - evalImprovement
                        - evalImprovementMultiplier
                        - scores
                        properties:
                          fingerprint:
                            pattern: ^[0-9a-f]{64}$
                            type: string
                          version:
                            type: string
                          major:
                            type: number
                          minor:
                            type: number
                          patch:
                            type: number
                          prerelease:
                            anyOf:
                            - type: string
                            - type: 'null'
                          describes:
                            anyOf:
                            - type: string
                            - type: 'null'
                          docs:
                            anyOf:
                            - type: string
[...]
