openapi: 3.1.1
info:
  title: Tessl Admin Keys Repos API
  version: 1.0.0
  description: Admin-scoped API keys for support tooling.
servers:
- url: https://api.tessl.io
tags:
- name: Repos
  description: Source-control repository helpers.
paths:
  /experimental/repos/{orgName}/{repoName}/commits:
    get:
      tags:
      - Repos
      description: Lists commits on a repository's default branch via the workspace's SCM integration. Supports keyword/author/date filtering.
      parameters:
      - schema:
          format: uuid
          type: string
        in: query
        name: workspaceId
        required: true
      - schema:
          minimum: 1
          maximum: 100
          default: 10
          type: number
        in: query
        name: count
        required: false
      - schema:
          type: string
        in: query
        name: since
        required: false
      - schema:
          type: string
        in: query
        name: until
        required: false
      - schema:
          type: string
        in: query
        name: keyword
        required: false
      - schema:
          type: string
        in: query
        name: author
        required: false
      - schema:
          type: string
        in: path
        name: orgName
        required: true
      - schema:
          type: string
        in: path
        name: repoName
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                - meta
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - hash
                      - shortHash
                      - message
                      - author
                      - date
                      properties:
                        hash:
                          type: string
                        shortHash:
                          type: string
                        message:
                          type: string
                        author:
                          type: string
                        date:
                          format: date-time
                          type: string
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
