openapi: 3.1.1
info:
  title: Tessl Admin Keys Policy API
  version: 1.0.0
  description: Admin-scoped API keys for support tooling.
servers:
- url: https://api.tessl.io
tags:
- name: Policy
paths:
  /v1/policy/evaluate:
    post:
      summary: Evaluate generic policy action decisions for a batch of requests
      tags:
      - Policy
      description: Returns generic policy decisions and follow-up requests for registered policy actions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - requests
              properties:
                clientVersion:
                  type: string
                context:
                  type: object
                  properties:
                    isCi:
                      type: boolean
                    runId:
                      type: string
                    project:
                      type: object
                      properties:
                        id:
                          type: string
                        workspaceSlug:
                          anyOf:
                          - maxLength: 200
                            type: string
                          - type: 'null'
                acceptedWarnings:
                  type: boolean
                requests:
                  maxItems: 200
                  type: array
                  items:
                    type: object
                    required:
                    - id
                    - action
                    - source
                    properties:
                      id:
                        type: string
                      action:
                        type: string
                      source: {}
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - policy-evaluation
                      attributes:
                        type: object
                        required:
                        - policyVersion
                        - orgId
                        - evaluationId
                        - decisions
                        - additionalRequests
                        properties:
                          policyVersion:
                            type: string
                          orgId:
                            anyOf:
                            - type: string
                            - type: 'null'
                          evaluationId:
                            type: string
                          decisions:
                            type: array
                            items:
                              anyOf:
                              - type: object
                                required:
                                - id
                                - action
                                - decision
                                - reasons
                                - requiresInteractiveConfirmation
                                properties:
                                  id:
                                    type: string
                                  action:
                                    type: string
                                    enum:
                                    - install
                                  decision:
                                    anyOf:
                                    - type: string
                                      enum:
                                      - allow
                                    - type: string
                                      enum:
                                      - warn
                                    - type: string
                                      enum:
                                      - block
                                  reasons:
                                    type: array
                                    items:
                                      anyOf:
                                      - type: object
                                        required:
                                        - kind
                                        - ruleId
                                        - severity
                                        - code
                                        - message
                                        - details
                                        properties:
                                          kind:
                                            type: string
                                            enum:
                                            - security-finding
                                          ruleId:
                                            type: string
                                          severity:
                                            anyOf:
                                            - type: string
                                              enum:
                                              - info
                                            - type: string
                                              enum:
                                              - warn
                                            - type: string
                                              enum:
                                              - error
                                          code:
                                            type: string
                                          message:
                                            type: string
                                          details:
                                            type: object
                                            required:
                                            - securityLevel
                                            - securityStatus
                                            - findings
                                            - registryUrl
                                            properties:
                                              securityLevel:
                                                anyOf:
                                                - enum:
                                                  - LOW
                                                  - MEDIUM
                                                  - HIGH
                                                  - CRITICAL
                                                  type: string
                                                - type: 'null'
                                              securityStatus:
                                                anyOf:
                                                - type: string
                                                  enum:
                                                  - completed
                                                - type: string
                                                  enum:
                                                  - failed
                                                - type: string
                                                  enum:
                                                  - pending
                                                - type: 'null'
                                              findings:
                                                type: array
                                                items:
                                                  type: object
                                                  required:
                                                  - severity
                                                  - code
                                                  - title
                                                  - reasoning
                                                  - issueDescription
                                                  properties:
                                                    severity:
                                                      enum:
                                                      - LOW
                                                      - MEDIUM
                                                      - HIGH
                                                      - CRITICAL
                                                      type: string
                                                    code:
                                                      type: string
                                                    title:
                                                      type: string
                                                    reasoning:
                                                      type: string
                                                    issueDescription:
                                                      anyOf:
                                                      - type: string
                                                      - type: 'null'
                                              registryUrl:
                                                anyOf:
                                                - type: string
                                                - type: 'null'
                                      - type: object
                                        required:
                                        - kind
                                        - ruleId
                                        - severity
                                        - code
                                        - message
                                        - details
                                        properties:
                                          kind:
                                            type: string
                                            enum:
                                            - source-restricted
                                          ruleId:
                                            type: string
                                          severity:
                                            type: string
                                            enum:
                                            - error
                                          code:
                                            type: string
                                          message:
                                            type: string
                                          details:
                                            type: object
                                            properties:
                                              registryScope:
                                                anyOf:
                                                - type: string
                                                  enum:
                                                  - all
                                                - type: string
                                                  enum:
                                                  - tessl-and-org
                                                - type: string
                                                  enum:
                                                  - org-only
                                              deniedSourceKind:
                                                anyOf:
                                                - type: string
                                                  enum:
                                                  - registry
                                                - type: string
                                                  enum:
                                                  - git
                                              gitSource:
                                                type: object
                                                required:
                                                - host
                                                - path
                                                properties:
                                                  host:
                                                    type: string
                                                  path:
                                                    type: array
                                                    items:
                                                      type: string
                                      - type: object
                                        required:
                                        - kind
                                        - ruleId
                                        - severity
                                        - code
                                        - message
                                        - details
                                        properties:
                                          kind:
                                            type: string
                                            enum:
                                            - workspace-access
                                          ruleId:
                                            type: string
                                          severity:
                                            type: string
                                            enum:
                                            - error
                                          code:
                                            type: string
                                          message:
                                            type: string
                                          details:
                                            type: object
                                            properties: {}
                                      - type: object
                                        required:
                                        - kind
                                        - ruleId
                                        - severity
                                        - code
                                        - message
                                        - details
                                        properties:
                                          kind:
                                            type: string
                                            enum:
                                            - managed-project-unresolved
                                          ruleId:
                                            type: string
                                          severity:
                                            type: string
                                            enum:
                                            - error
                                          code:
                                            type: string
                                          message:
                                            type: string
                                          details:
                                            type: object
                                            properties: {}
                                      - type: object
                                        required:
                                        - kind
                                        - ruleId
                                        - severity
                                        - code
                                        - message
                                        - details
                                        properties:
                                          kind:
                                            type: string
                                            enum:
                                            - managed-project-required
                                          ruleId:
                                            type: string
                                          severity:
                                            anyOf:
                                            - type: string
                                              enum:
                                              - info
                                            - type: string
                                              enum:
                                              - error
                                          code:
                                            type: string
                                          message:
                                            type: string
                                          details:
                                            type: object
                                            required:
                                            - managedWorkspace
                                            - policyName
                                            - dependencyName
                                            - requiredVersion
                                            properties:
                                              managedWorkspace:
                                                type: string
                                              policyName:
                                                type: string
                                              dependencyName:
                                                type: string
                                              requiredVersion:
                                                type: string
                                      - type: object
                                        required:
                                        - kind
                                        - ruleId
                                        - severity
                                        - code
                                        - message
                                        - details
                                        properties:
                                          kind:
                                            type: string
                                            enum:
                                            - release-age
                                          ruleId:
                                            type: string
                                          severity:
                                            type: string
                                            enum:
                                            - error
                                          code:
                                            type: string
                                          message:
                                            type: string
                                          details:
                                            type: object
                                            required:
                                            - requestedVersion
                                            - requestedReleaseAgeInDays
                                            - minimumAgeInDays
                                            - fallbackVersion
                                            - fallbackPublishedAt
                                            properties:
                                              requestedVersion:
                                                type: string
                                              requestedReleaseAgeInDays:
                                                minimum: 0
                                                type: integer
                                              minimumAgeInDays:
                                                minimum: 0
                                                type: integer
                                              fallbackVersion:
                                                anyOf:
                                                - type: string
                                                - type: 'null'
                                              fallbackPublishedAt:
                                                anyOf:
                                                - type: string
                                                - type: 'null'
                                              fallbackSecurityReasons:
                                                type: array
                                                items:
                                                  type: object
                                                  required:
                                                  - kind
                                                  - ruleId
                                                  - severity
                                                  - code
                                                  - message
                                                  - details
                                                  properties:
                                                    kind:
                                                      type: string
                                                      enum:
                                                      - security-finding
                                                    ruleId:
                                                      type: string
                                                    severity:
                                                      anyOf:
                                                      - type: string
                                                        enum:
                                                        - info
                                                      - type: string
                                                        enum:
                                                        - warn
                                                      - type: string
                                                        enum:
                                                        - error
                                                    code:
                                                      type: string
                                                    message:
                                                      type: string
                                                    details:
                                                      type: object
                                                      required:
                                                      - securityLevel
                                                      - securityStatus
                                                      - findings
                                                      - registryUrl
                                                      properties:
                                                        securityLevel:
                                                          anyOf:
                                                          - enum:
                                                            - LOW
                                                            - MEDIUM
                                                            - HIGH
                                                            - CRITICAL
                                                            type: string
                                                          - type: 'null'
                                                        securityStatus:
                                                          anyOf:
                                                          - type: string
                                                            enum:
                                                            - completed
                                                          - type: string
                                                            enum:
                                                            - failed
                                                          - type: string
                                                            enum:
                                                            - pending
                                                          - type: 'null'
                                                        findings:
                                                          type: array
                                                          items:
                                                            type: object
                                                            required:
                                                            - severity
                                                            - code
                                                            - title
                                                            - reasoning
                                                            - issueDescription
                                                            properties:
                                                              severity:
                                                                enum:
                                                                - LOW
                                                                - MEDIUM
                                                                - HIGH
                                                                - CRITICAL
                                                                type: string
                                                              code:
                                                                type: string
                                                              title:
                                                                type: string
                                                              reasoning:
                                                                type: string
                                                              issueDescription:
                                                                anyOf:
                                                                - type: string
                                                                - type: 'null'
                                                        registryUrl:
                                                          anyOf:
                                                          - type: string
                                                          - type: 'null'
                                  resolvedSource:
                                    anyOf:
                                    - type: object
                                      required:
                                      - id
                                      - source
                                      - tile
                                      properties:
                                        id:
                                          type: string
                                        source:
                                          type: string
                                          enum:
                                          - registry
                                        tile:
                                          type: object
                                          required:
                                          - workspaceName
                                          - tileName
                                          properties:
                                            workspaceName:
                                              type: string
                                            tileName:
                                              type: string
                                            version:
                                              type: string
                                    - type: object
                                      required:
                                      - id
                                      - source
                                      - url
                                      properties:
                                        id:
                                          type: string
                                        source:
                                          type: string
                                          enum:
                                          - git
                                        url:
                                          type: string
                                        branch:
                                          type: string
                                        subpath:
                                          type: string
                                    - type: object
                                      required:
                                      - id
                                      - source
                                      - path
                                      properties:
                                        id:
                                          type: string
                                        source:
                                          type: string
                                          enum:
                                          - file
                                        path:
                                          type: string
                                  fallbackSource:
                                    anyOf:
                                    - type: object
                                      required:
                                      - id
                                      - source
                                      - tile
                                      properties:
                                        id:
                                          type: string
                                        source:
                                          type: string
                                          enum:
                                          - registry
                                        tile:
                                          type: object
                                          required:
                                          - workspaceName
                                          - tileName
                                          properties:
                                            workspaceName:
                                              type: string
                                            tileName:
                                              type: string
                                            version:
                                              type: string
                                    - type: object
                                      required:
                                      - id
                                      - source
                                      - url
                                      properties:
                                        id:
                                          type: string
                                        source:
                                          type: string
                                          enum:
                                          - git
                                        url:
                                          type: string
                                        branch:
                                          type: string
                                        subpath:
                                          type: string
                                    - type: object
                                      required:
                                      - id
                                      - source
                                      - path
                                      properties:
                                        id:
                                          type: string
                                        source:
                                          type: string
                                          enum:
                                          - file
                                        path:
                                          type: string
                                  requiresInteractiveConfirmation:
                                    type: boolean
                                  minimumReleaseAgeDays:
                                    anyOf:
                                    - minimum: 0
                                      type: integer
                                    - type: 'null'
                              - type: object
                                required:
                                - id
                                - action
                                - decision
                                - reasons
                                properties:
                                  id:
                                    type: string
                                  action:
                                    type: string
                                    enum:
                                    - uninstall
                                  decision:
                                    anyOf:
                                    - type: string
                                      enum:
                                      - allow
                                    - type: string
                                      enum:
                                      - warn
                                    - type: string
                                      enum:
                                      - block
                                  reasons:
                                    type: array
                                    items:
                                      anyOf:
                                      - type: object
                                        required:
                                        - code
                                        - kind
                                        - ruleId
                                        - severity
                                        - message
                                        - details
                                        properties:
                                          code:
                                            type: string
                                            enum:
                                            - managed-project.required
                                          kind:
                                            type: string
                                            enum:
                                            - managed-project-required
                                          ruleId:
                                            type: string
                                            enum:
                                            - managed-project-policy
                                          severity:
                                            type: string
                                            enum:
                                            - error
                                          message:
                                            type: string
                                          details:
                                            type: object
                                            required:
                                            - dependencyName
                                            - requiredVersion
                                            - managedWorkspace
                                            - policyName
                                            properties:
                                              dependencyName:
                                                type: string
                                              requiredVersion:
                                                anyOf:
                                                - type: string
                                                - type: 'null'
                                              managedWorkspace:
                                                type: string
                                              policyName:
                                                anyOf:
                                                - type: string
                                                - type: 'null'
                                      - type: object
                                        required:
                                        - code
                                        - kind
                                        - ruleId
                                        - severity
                                        - message
                                        properties:
                                          code:
                                            type: string
                                            enum:
                                            - managed-project.unresolved
                                          kind:
                                            type: string
                                            enum:
                                            - managed-project-unresolved
                                          ruleId:
                                            type: string
                                            enum:
                                            - managed-project-policy
                                          severity:
                                            type: string
                                            enum:
                                            - error
                                          message:
                                            type: string
                          additionalRequests:
                            type: array
                            items:
                              type: object
                              required:
                              - id
                              - action
                              - source
                              - origin
                              - decision
                              properties:
                                id:
                                  type: string
                                action:
                                  type: string
                                  enum:
                                  - install
                                source:
                                  anyOf:
                                  - type: object
                                    required:
                                    - id
                                    - source
                                    - tile
                                    properties:
                                      id:
                                        type: string
                                      source:
                                        type: string
                                        enum:
                                        - registry
                                      tile:
                                        type: object
                                        required:
                                        - workspaceName
                                        - tileName
                                        properties:
                                          workspaceName:
                                            type: string
                                          tileName:
                                            type: string
                                          version:
                                            type: string
                                  - type: object
                                    required:
                                    - id
                                    - source
                                    - url
                                    properties:
                                      id:
                                        type: string
                                      source:
                                        type: string
                                        enum:
                                        - git
                                      url:
                                        type: string
                                      branch:
                                        type: string
                                      subpath:
                                        type: string
                                  - type: object
                                    required:
                                    - id
                                    - source
                                    - path
                                    properties:
                                      id:
                                        type: string
                                      source:
                                        type: string
                                        enum:
                                        - file
                                      path:
                                        type: string
                                origin:
                                  type: string
                                  enum:
                                  - managed-project.required
                                decision:
                                  anyOf:
                                  - type: string
                                    enum:
                                    - allow
                                  - type: string
                                    enum:
                                    - warn
                                  - type: string
                                    enum:
                                    - block
                                reasons:
                                  type: array
                                  items:
                                    anyOf:
                                    - type: object
                                      required:
                                      - kind
                                      - ruleId
                                      - severity
                                      - code
                                      - message
                                      - details
                                      properties:
                                        kind:
                                          type: string
                                          enum:
                                          - security-finding
                                        ruleId:
                                          type: string
                                        severity:
                                          anyOf:
                                          - type: string
                                            enum:
                                            - info
                                          - type: string
                                            enum:
                                            - warn
                                          - type: string
                                            enum:
                                            - error
                                        code:
                                          type: string
                                        message:
                                          type: string
                                        details:
                                          type: object
                                          required:
                                          - securityLevel
                                          - securityStatus
                                          - findings
                                          - registryUrl
                                          properties:
                                            securityLevel:
                                              anyOf:
                                              - enum:
                                                - LOW
                                                - MEDIUM
                                                - HIGH
                                                - CRITICAL
                                                type: string
                                              - type: 'null'
                                            securityStatus:
                                              anyOf:
                                              - type: string
                                                enum:
                                                - completed
                                              - type: string
                                                enum:
                                                - failed
                                              - type: string
                                                enum:
                                                - pending
                                              - type: 'null'
                                            findings:
                                              type: array
                                              items:
                                                type: object
                                                required:
                                                - severity
                                                - code
                                                - title
                                                - reasoning
                                                - issueDescription
                                                properties:
                                                  severity:
                                                    enum:
                                                    - LOW
                                                    - MEDIUM
                                                    - HIGH
                                                    - CRITICAL
                                                    type: string
                                                  code:
                                                    type: string
                                                  title:
                                                    type: string
                                                  reasoning:
                                                    type: string
                                                  issueDescription:
                                                    anyOf:
                                                    - type: string
                                                    - type: 'null'
                                            registryUrl:
                                              anyOf:
                                              - type: string
                                              - type: 'null'
                                    - type: object
                                      required:
                                      - kind
                                      - ruleId
                                      - severity
                                      - code
                                      - message
                                      - details
                                      properties:
                                        kind:
                                          type: string
                                          enum:
                                          - source-restricted
                                        ruleId:
                                          type: string
                                        severity:
                                          type: string
                                          enum:
                                          - error
                                        code:
                                          type: string
                                        message:
                                          type: string
                                        details:
                                          type: object
                                          properties:
                                            registryScope:
                                              anyOf:
                                              - type: string
                                                enum:
                                                - all
                                              - type: string
                                                enum:
                                                - tessl-and-org
                                              - type: string
                                                enum:
                                                - org-only
                                            deniedSourceKind:
                                              anyOf:
                                              - type: string
                                                enum:
                                                - registry
                                              - type: string
                                                enum:
                                                - git
                                            gitSource:
                                              type: object
                                              required:
                                              - host
                                              - path
                                              properties:
                                                host:
                                                  type: string
                                                path:
                                                  type: array
                                                  items:
                                                    type: string
                                    - type: object
                                      required:
                                      - kind
                                      - ruleId
                                      - severity
                                      - code
                                      - message
                                      - details
                                      properties:
                                        kind:
                                          type: string
                                          enum:
                                          - workspace-access
                                        ruleId:
                                          type: string
                                        severity:
                                          type: string
                                          enum:
                                          - error
                                        code:
                                          type: string
                                        message:
                                          type: string
                                        details:
                                          type: object
                                          properties: {}
                                    - type: object
                                      required:
                                      - kind
                                      - ruleId
                                      - severity
                                      - code
                                      - message
                                      - details
                                      properties:
                                        kind:
                                          type: string
                                          enum:
                                          - managed-project-unresolved
                                        ruleId:
                                          type: string
                                        severity:
                                          type: string
                                          enum:
                                          - error
                                        code:
                                          type: string
                                        message:
                                          type: string
                                        details:
                                          type: object
                                          properties: {}
                                    - type: object
                                      required:
                                      - kind
                                      - ruleId
                                      - severity
                                      - code
                                      - message
                                      - details
                                      properties:
                                        kind:
                                          type: string
                                          enum:
                                          - managed-project-required
                                        ruleId:
                                          type: string
                                        severity:
                                          anyOf:
                                          - type: string
                                            enum:
                                            - info
                                          - type: string
                                            enum:
                                            - error
                                        code:
                                          type: string
                                        message:
                                          type: string
                                        details:
                                          type: object
                                          required:
                                          - managedWorkspace
                                          - policyName
                                          - dependencyName
                                          - requiredVersion
                                          properties:
                                            managedWorkspace:
                                              type: string
                                            policyName:
                                              type: string
                                            dependencyName:
                                              type: string
                                            requiredVersion:
                                              type: string
                                    - type: object
                                      required:
                                      - kind
                                      - ruleId
                                      - severity
                                      - code
                                      - message
                                      - details
                                      properties:
                                        kind:
                                          type: string
                                          enum:
                                          - release-age
                                        ruleId:
                                          type: string
                                        severity:
                                          type: string
                                          enum:
                                          - error
                                        code:
                                          type: string
                                        message:
                                          type: string
                                        details:
                                          type: object
                                          required:
                                          - requestedVersion
                                          - requestedReleaseAgeInDays
                                          - minimumAgeInDays
                                          - fallbackVersion
                                          - fallbackPublishedAt
                                          properties:
                                            requestedVersion:
                                              type: string
                                            requestedReleaseAgeInDays:
                                              minimum: 0
                                              type: integer
                                            minimumAgeInDays:
                                              minimum: 0
                                              type: integer
                                            fallbackVersion:
                                              anyOf:
                                              - type: string
                                              - type: 'null'
                                            fallbackPublishedAt:
                                              anyOf:
                                              - type: string
                                              - type: 'null'
                                            fallbackSecurityReasons:
                                              type: array
                                              items:
                                                type: object
                                                required:
                                                - kind
                                                - ruleId
                                                - severity
                                                - code
                                                - message
                                                - details
                                                properties:
                                                  kind:
                                                    type: string
                                                    enum:
                                                    - security-finding
                                                  ruleId:
                                                    type: string
                                                  severity:
                                                    anyOf:
                                                    - type: string
                                                      enum:
                                                      - info
                                                    - type: string
                                                      enum:
                                                      - warn
                                                    - type: string
                                                      enum:
                                                      - error
                                                  code:
                                                    type: string
                                                  message:
                                                    type: string
                                                  details:
                                                    type: object
                                                    required:
                                                    - securityLevel
                                                    - securityStatus
                                                    - findings
                                                    - registryUrl
                                                    properties:
                                                      securityLevel:
                                                        anyOf:
                                                        - enum:
                                                          - LOW
                                                          - MEDIUM
                                                          - HIGH
                                                          - CRITICAL
                                                          type: string
                                                        - type: 'null'
                                                      securityStatus:
                                                        anyOf:
                                                        - type: string
                                                          enum:
                                                          - completed
                                                        - type: string
                                                          enum:
                                                          - failed
                                                        - type: string
                                                          enum:
                                                          - pending
                                                        - type: 'null'
                                                      findings:
                                                        type: array
                                                        items:
                                                          type: object
                                                          required:
                                                          - severity
                                                          - code
                                                          - title
                                                          - reasoning
                                                          - issueDescription
                                                          properties:
                                                            severity:
                                                              enum:
                                                              - LOW
                                                              - MEDIUM
                                                              - HIGH
                                                              - CRITICAL
                                                              type: string
                                                            code:
                                                              type: string
                                                            title:
                                                              type: string
                                                            reasoning:
                                                              type: string
                                                            issueDescription:
                                                              anyOf:
                                                              - type: string
                                                              - type: 'null'
                                                      registryUrl:
                                                        anyOf:
                                                        - type: string
                                                        - type: 'null'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Bad Request
                      status:
                        type: number
                        enum:
                        - 400
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/policies/{targetType}/{targetId}:
    get:
      tags:
      - Policy
      description: Returns the raw policy doc stored for a specific target. All section×target combinations are accepted; sections that do not apply to a given target are stored but have no effect at evaluation time.
      parameters:
      - schema:
          anyOf:
          - type: string
            enum:
            - org
          - type: string
            enum:
            - workspace
          - type: string
            enum:
            - managed_project
        in: path
        name: targetType
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: targetId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - policy
                      attributes:
                        type: object
                        required:
                        - targetType
                        - targetId
                        - policyDoc
                        - updatedAt
                        properties:
                          targetType:
                            anyOf:
                            - type: string
                              enum:
                              - org
                            - type: string
                              enum:
                              - workspace
                            - type: string
                              enum:
                              - managed_project
                          targetId:
                            format: uuid
                            type: string
                          policyDoc:
                            additionalProperties: false
                            type: object
                            required:
                            - version
                            properties:
                              version:
                                type: number
                                enum:
                                - 1
                              install:
                                additionalProperties: false
                                type: object
                                required:
                                - rules
                                properties:
                                  rules:
                                    additionalProperties: false
                                    type: object
                                    required:
                                    - securityThreshold
                                    properties:
                                      securityThreshold:
                                        additionalProperties: false
                                        type: object
                                        required:
                                        - minSeverityToWarn
                                        - minSeverityToBlock
                                        properties:
                                          minSeverityToWarn:
                                            anyOf:
                                            - anyOf:
                                              - type: string
                                                enum:
                                                - LOW
                                              - type: string
                                                enum:
                                                - MEDIUM
                                              - type: string
                                                enum:
                                                - HIGH
                                              - type: string
                                                enum:
                                                - CRITICAL
                                            - type: 'null'
                                          minSeverityToBlock:
                                            anyOf:
                                            - anyOf:
                                              - type: string
                                                enum:
                                                - LOW
                                              - type: string
                                                enum:
                                                - MEDIUM
                                              - type: string
                                                enum:
                                                - HIGH
                                              - type: string
                                                enum:
                                                - CRITICAL
                                            - type: 'null'
                                      sourceRestriction:
                                        additionalProperties: false
                                        type: object
                                        required:
                                        - registryScope
                                        - allowGitSources
                                        properties:
                                          registryScope:
                                            anyOf:
                                            - type: string
                                              enum:
                                              - all
                                            - type: string
                                              enum:
                                              - tessl-and-org
                                            - type: string
                                              enum:
                                              - org-only
                                          allowGitSources:
                                            type: boolean
                                          gitSourceAllowlist:
                                            type: array
                                            items:
                                              additionalProperties: false
                                              type: object
                                              required:
                                              - host
                                              - path
                                              properties:
                                                host:
                                                  minLength: 1
                                                  type: string
                                                path:
                                                  minItems: 1
                                                  type: array
                                                  items:
                                                    minLength: 1
                                                    type: string
                                      minimumReleaseAge:
                                        additionalProperties: false
                                        type: object
                                        required:
                                        - days
                                        properties:
                                          days:
                                            minimum: 0
                                            type: integer
                              publish:
                                additionalProperties: false
                                type: object
                                required:
                                - rules
                                properties:
                                  rules:
                                    additionalProperties: false
                                    type: object
                                    required:
                                    - securityThreshold
                                    properties:
                                      securityThreshold:
                                        additionalProperties: false
                                        type: object
                                        required:
                                        - minSeverityToBlock
                                        properties:
                                          minSeverityToBlock:
                                            anyOf:
                                            - anyOf:
                                              - type: string
                                                enum:
                                                - MEDIUM
                                              - type: string
                                                enum:
                                                - HIGH
                                              - type: string
                                                enum:
                                                - CRITICAL
                                            - type: 'null'
                              dependencies:
                                additionalProperties: false
                                type: object
                                required:
                                - rules
                                properties:
                                  rules:
                                    additionalProperties: false
                                    type: object
                                    properties:
                                      requiredDependencies:
                                        type: object
                                        additionalProperties:
                                          additionalProperties: false
                                          type: object
                                          required:
                                          - version
                                          properties:
                                            version:
                                              type: string
                          updatedAt:
                            format: date-time
                            type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    put:
      tags:
      - Policy
      description: Writes the sections present in the request body to the target, merging with any existing sections not mentioned. Callers only need to include the sections they intend to set — omitted sections are preserved unchanged. To clear a section, delete the row and re-create it without that section. All section×target combinations are accepted on the backend; sections that are irrelevant to a given target are stored but have no effect at evaluation time. Requires org-level edit permission on the owning org regardless of target type.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
              required:
              - policyDoc
              properties:
                policyDoc:
                  additionalProperties: false
                  type: object
                  required:
                  - version
                  properties:
                    version:
                      type: number
                      enum:
                      - 1
                    install:
                      additionalProperties: false
                      type: object
                      required:
                      - rules
                      properties:
                        rules:
                          additionalProperties: false
                          type: object
                          required:
                          - securityThreshold
                          properties:
                            securityThreshold:
                              additionalProperties: false
                              type: object
                              required:
                              - minSeverityToWarn
                              - minSeverityToBlock
                              properties:
                                minSeverityToWarn:
                                  anyOf:
                                  - anyOf:
                                    - type: string
                                      enum:
                                      - LOW
                                    - type: string
                                      enum:
                                      - MEDIUM
                                    - type: string
                                      enum:
                                      - HIGH
                                    - type: string
                                      enum:
                                      - CRITICAL
                                  - type: 'null'
                                minSeverityToBlock:
                                  anyOf:
                                  - anyOf:
                                    - type: string
                                      enum:
                                      - LOW
                                    - type: string
                                      enum:
                                      - MEDIUM
                                    - type: string
                                      enum:
                                      - HIGH
                                    - type: string
                                      enum:
                                      - CRITICAL
                                  - type: 'null'
                            sourceRestriction:
                              additionalProperties: false
                              type: object
                              required:
                              - registryScope
                              - allowGitSources
                              properties:
                                registryScope:
                                  anyOf:
                                  - type: string
                                    enum:
                                    - all
                                  - type: string
                                    enum:
                                    - tessl-and-org
                                  - type: string
                                    enum:
                                    - org-only
                                allowGitSources:
                                  type: boolean
                                gitSourceAllowlist:
                                  type: array
                                  items:
                                    additionalProperties: false
                                    type: object
                                    required:
                                    - host
                                    - path
                                    properties:
                                      host:
                                        minLength: 1
                                        type: string
                                      path:
                                        minItems: 1
                                        type: array
                                        items:
                                          minLength: 1
                                          type: string
                            minimumReleaseAge:
                              additionalProperties: false
                              type: object
                              required:
                              - days
                              properties:
                                days:
                                  minimum: 0
                                  type: integer
                    publish:
                      additionalProperties: false
                      type: object
                      required:
                      - rules
                      properties:
                        rules:
                          additionalProperties: false
                          type: object
                          required:
                          - securityThreshold
                          properties:
                            securityThreshold:
                              additionalProperties: false
                              type: object
                              required:
                              - minSeverityToBlock
                              properties:
                                minSeverityToBlock:
                                  anyOf:
                                  - anyOf:
                                    - type: string
                                      enum:
                                      - MEDIUM
                                    - type: string
                                      enum:
                                      - HIGH
                                    - type: string
                                      enum:
                                      - CRITICAL
                                  - type: 'null'
                    dependencies:
                      additionalProperties: false
                      type: object
                      required:
                      - rules
                      properties:
                        rules:
                          additionalProperties: false
                          type: object
                          properties:
                            requiredDependencies:
                              type: object
                              additionalProperties:
                                additionalProperties: false
                                type: object
                                required:
                                - version
                                properties:
                                  version:
                                    type: string
      parameters:
      - schema:
          anyOf:
          - type: string
            enum:
            - org
          - type: string
            enum:
            - workspace
          - type: string
            enum:
            - managed_project
        in: path
        name: targetType
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: targetId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - policy
                      attributes:
                        type: object
                        required:
                        - targetType
                        - targetId
                        - policyDoc
                        - updatedAt
                        properties:
                          targetType:
                            anyOf:
                            - type: string
                              enum:
                              - org
                            - type: string
                              enum:
                              - workspace
                            - type: string
                              enum:
                              - managed_project
                          targetId:
                            format: uuid
                            type: string
                          policyDoc:
                            additionalProperties: false
                            type: object
                            required:
                            - version
                            properties:
                              version:
                                type: number
                                enum:
                                - 1
                              install:
                                additionalProperties: false
                                type: object
                                required:
                                - rules
                                properties:
                                  rules:
                                    additionalProperties: false
                                    type: object
                                    required:
                                    - securityThreshold
                                    properties:
                                      securityThreshold:
                                        additionalProperties: false
                                        type: object
                                        required:
                                        - minSeverityToWarn
                                        - minSeverityToBlock
                                        properties:
                                          minSeverityToWarn:
                                            anyOf:
                                            - anyOf:
                                              - type: string
                                                enum:
                                                - LOW
                                              - type: string
                                                enum:
                                                - MEDIUM
                                              - type: string
                                                enum:
                                                - HIGH
                                              - type: string
                                                enum:
                                                - CRITICAL
                                            - type: 'null'
                                          minSeverityToBlock:
                                            anyOf:
                                            - anyOf:
                                              - type: string
                                                enum:
                                                - LOW
                                              - type: string
                                                enum:
                                                - MEDIUM
                                              - type: string
                                                enum:
                                                - HIGH
                                              - type: string
                                                enum:
                                                - CRITICAL
                                            - type: 'null'
                                      sourceRestriction:
                                        additionalProperties: false
                                        type: object
                                        required:
                                        - registryScope
                                        - allowGitSources
                                        properties:
                                          registryScope:
                                            anyOf:
                                            - type: string
                                              enum:
                                              - all
                                            - type: string
                                              enum:
                                              - tessl-and-org
                                            - type: string
                                              enum:
                                              - org-only
                                          allowGitSources:
                                            type: boolean
                                          gitSourceAllowlist:
                                            type: array
                                            items:
                                              additionalProperties: false
                                              type: object
                                              required:
                                              - host
                                              - path
                                              properties:
                                                host:
                                                  minLength: 1
                                                  type: string
                                                path:
                                                  minItems: 1
                                                  type: array
                                                  items:
                                                    minLength: 1
                                                    type: string
                                      minimumReleaseAge:
                                        additionalProperties: false
                                        type: object
                                        required:
                                        - days
                                        properties:
                                          days:
                                            minimum: 0
                                            type: integer
                              publish:
                                additionalProperties: false
                                type: object
                                required:
                                - rules
                                properties:
                                  rules:
                                    additionalProperties: false
                                    type: object
                                    required:
                                    - securityThreshold
                                    properties:
                                      securityThreshold:
                                        additionalProperties: false
                                        type: object
                                        required:
                                        - minSeverityToBlock
                                        properties:
                                          minSeverityToBlock:
                                            anyOf:
                                            - anyOf:
                                              - type: string
                                                enum:
                                                - MEDIUM
                                              - type: string
                                                enum:
                                                - HIGH
                                              - type: string
                                                enum:
[...]
