openapi: 3.1.1
info:
  title: Tessl Admin Keys Agent Logs API
  version: 1.0.0
  description: Admin-scoped API keys for support tooling.
servers:
- url: https://api.tessl.io
tags:
- name: Agent Logs
  description: Agent and hosted-execution log uploads.
paths:
  /experimental/agent-logs/presigned-url:
    post:
      tags:
      - Agent Logs
      description: Issues a presigned S3 URL for uploading an agent session log captured by the Tessl CLI or supported coding-agent integrations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              - projectPath
              - sessionId
              - capturedAt
              - contentType
              properties:
                provider:
                  anyOf:
                  - type: string
                    enum:
                    - claude-code
                  - type: string
                    enum:
                    - cursor-ide
                  - type: string
                    enum:
                    - cursor-agent
                  - type: string
                    enum:
                    - tessl-agent
                  - type: string
                    enum:
                    - tessl-cli
                  - type: string
                    enum:
                    - gemini-cli
                  - type: string
                    enum:
                    - codex-cli
                projectPath:
                  type: string
                sessionId:
                  type: string
                capturedAt:
                  format: date-time
                  type: string
                contentType:
                  default: application/json
                  type: string
                contentEncoding:
                  type: string
                schemaVersion:
                  type: number
                launchRunId:
                  format: uuid
                  type: string
                metadata:
                  type: object
                  properties:
                    cliVersion:
                      type: string
                    platform:
                      type: string
                    arch:
                      type: string
                    osType:
                      type: string
                    osRelease:
                      type: string
                    nodeVersion:
                      type: string
                    gitRepo:
                      type: string
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - presignedUrl
                - expiresIn
                properties:
                  presignedUrl:
                    format: uri
                    type: string
                  expiresIn:
                    type: number
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
