openapi: 3.1.1
info:
  title: Tessl Admin Keys Curated Lists API
  version: 1.0.0
  description: Admin-scoped API keys for support tooling.
servers:
- url: https://api.tessl.io
tags:
- name: Curated Lists
  description: Curated tile lists and items.
paths:
  /experimental/curated-lists/{slug}:
    get:
      tags:
      - Curated Lists
      parameters:
      - schema:
          minLength: 1
          maxLength: 100
          type: string
        in: path
        name: slug
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - meta
                        properties:
                          id:
                            format: uuid
                            type: string
                          type:
                            type: string
                            enum:
                            - tile
                          attributes:
                            type: object
                            required:
                            - name
                            - fullName
                            - describes
                            - featured
                            - isPrivate
                            - createdAt
                            - updatedAt
                            - score
                            - scores
                            properties:
                              name:
                                type: string
                              fullName:
                                type: string
                              describes:
                                anyOf:
                                - type: string
                                - type: 'null'
                              featured:
                                type: boolean
                              isPrivate:
                                type: boolean
                              createdAt:
                                format: date-time
                                type: string
                              updatedAt:
                                format: date-time
                                type: string
                              versions:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - fingerprint
                                  - version
                                  - major
                                  - minor
                                  - patch
                                  - prerelease
                                  - summary
                                  - describes
                                  - docs
                                  - hasDocs
                                  - hasSteering
                                  - hasSkills
                                  - archived
                                  - createdAt
                                  - evalScore
                                  - evalBaselineScore
                                  - evalImprovement
                                  - evalImprovementMultiplier
                                  properties:
                                    fingerprint:
                                      type: string
                                    version:
                                      type: string
                                    major:
                                      type: number
                                    minor:
                                      type: number
                                    patch:
                                      type: number
                                    prerelease:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    summary:
                                      type: string
                                    describes:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    docs:
                                      anyOf:
                                      - type: string
                                      - type: 'null'
                                    hasDocs:
                                      type: boolean
                                    hasSteering:
                                      type: boolean
                                    hasSkills:
                                      type: boolean
                                    archived:
                                      type: boolean
                                    createdAt:
                                      format: date-time
                                      type: string
                                    evalScore:
                                      anyOf:
                                      - type: integer
                                      - type: 'null'
                                    evalBaselineScore:
                                      anyOf:
                                      - type: integer
                                      - type: 'null'
                                    evalImprovement:
                                      anyOf:
                                      - type: integer
                                      - type: 'null'
                                    evalImprovementMultiplier:
                                      anyOf:
                                      - type: number
                                      - type: 'null'
                              score:
                                anyOf:
                                - type: integer
                                - type: 'null'
                              scores:
                                type: object
                                required:
                                - version
                                - aggregate
                                - quality
                                - impact
                                - security
                                - evalAvg
                                - evalBaseline
                                - evalImprovement
                                - evalImprovementMultiplier
                                - evalCount
                                - validationErrors
                                - lastScoredAt
                                properties:
                                  version:
                                    type: string
                                  aggregate:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  quality:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  impact:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  security:
                                    anyOf:
                                    - anyOf:
                                      - type: string
                                        enum:
                                        - LOW
                                      - type: string
                                        enum:
                                        - MEDIUM
                                      - type: string
                                        enum:
                                        - HIGH
                                      - type: string
                                        enum:
                                        - CRITICAL
                                    - type: 'null'
                                  evalAvg:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  evalBaseline:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  evalImprovement:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  evalImprovementMultiplier:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  evalCount:
                                    anyOf:
                                    - type: integer
                                    - type: 'null'
                                  validationErrors:
                                    type: array
                                    items:
                                      type: string
                                  lastScoredAt:
                                    anyOf:
                                    - format: date-time
                                      type: string
                                    - type: 'null'
                          relationships:
                            type: object
                            required:
                            - workspace
                            properties:
                              workspace:
                                type: object
                                required:
                                - data
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    - attributes
                                    properties:
                                      id:
                                        format: uuid
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                                      attributes:
                                        type: object
                                        required:
                                        - name
                                        properties:
                                          name:
                                            type: string
                          meta:
                            type: object
                            additionalProperties:
                              anyOf:
                              - type: number
                              - type: boolean
                              - type: string
                      - type: object
                        required:
                        - id
                        - type
                        - attributes
                        - meta
                        properties:
                          id:
                            format: uuid
                            type: string
                          type:
                            type: string
                            enum:
                            - skill
                          attributes:
                            type: object
                            required:
                            - name
                            - description
                            - sourceUrl
                            - path
                            - featured
                            - createdAt
                            - updatedAt
                            - score
                            - scores
                            - validationPassed
                            properties:
                              name:
                                type: string
                              description:
                                type: string
                              sourceUrl:
                                anyOf:
                                - type: string
                                  enum:
                                  - ''
                                - format: uri
                                  minLength: 1
                                  type: string
                              path:
                                type: string
                              featured:
                                type: boolean
                              createdAt:
                                format: date-time
                                type: string
                              updatedAt:
                                format: date-time
                                type: string
                              versions:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - sourceRef
                                  - name
                                  - description
                                  - createdAt
                                  properties:
                                    sourceRef:
                                      type: string
                                    name:
                                      type: string
                                    description:
                                      type: string
                                    createdAt:
                                      format: date-time
                                      type: string
                              score:
                                anyOf:
                                - type: integer
                                - type: 'null'
                              scores:
                                type: object
                                required:
                                - version
                                - aggregate
                                - quality
                                - impact
                                - security
                                - evalAvg
                                - evalBaseline
                                - evalImprovement
                                - evalImprovementMultiplier
                                - evalCount
                                - validationErrors
                                - lastScoredAt
                                properties:
                                  version:
                                    type: string
                                  aggregate:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  quality:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  impact:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  security:
                                    anyOf:
                                    - anyOf:
                                      - type: string
                                        enum:
                                        - LOW
                                      - type: string
                                        enum:
                                        - MEDIUM
                                      - type: string
                                        enum:
                                        - HIGH
                                      - type: string
                                        enum:
                                        - CRITICAL
                                    - type: 'null'
                                  evalAvg:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  evalBaseline:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  evalImprovement:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  evalImprovementMultiplier:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                  evalCount:
                                    anyOf:
                                    - type: integer
                                    - type: 'null'
                                  validationErrors:
                                    type: array
                                    items:
                                      type: string
                                  lastScoredAt:
                                    anyOf:
                                    - format: date-time
                                      type: string
                                    - type: 'null'
                              validationPassed:
                                anyOf:
                                - type: boolean
                                - type: 'null'
                          meta:
                            type: object
                            additionalProperties:
                              anyOf:
                              - type: number
                              - type: boolean
                              - type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
