openapi: 3.1.1
info:
  title: Tessl Admin Keys SkillInventory API
  version: 1.0.0
  description: Admin-scoped API keys for support tooling.
servers:
- url: https://api.tessl.io
tags:
- name: SkillInventory
paths:
  /v1/workspaces/{workspaceNameOrID}/skill-inventories:
    get:
      tags:
      - SkillInventory
      description: Lists skill inventories claimed by the workspace, ordered by scan recency.
      parameters:
      - schema:
          default: -scannedAt
          anyOf:
          - type: array
            items:
              anyOf:
              - type: string
                enum:
                - scannedAt
              - type: string
                enum:
                - -scannedAt
          - anyOf:
            - type: string
              enum:
              - scannedAt
            - type: string
              enum:
              - -scannedAt
        in: query
        name: sort
        required: false
      - schema:
          minimum: 1
          maximum: 100
          default: 100
          type: number
        in: query
        name: page[size]
        required: false
      - schema:
          type: string
        in: query
        name: page[after]
        required: false
      - schema:
          type: string
        in: query
        name: page[before]
        required: false
      - schema:
          anyOf:
          - type: string
            enum:
            - pending
          - type: string
            enum:
            - complete
          - type: string
            enum:
            - failed
        in: query
        name: status
        required: false
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    - next
                    - prev
                    properties:
                      self:
                        format: uri
                        type: string
                      next:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                      prev:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - skill-inventory
                        attributes:
                          type: object
                          required:
                          - githubOrgName
                          - provider
                          - scannedAt
                          - scanCount
                          - totalSkills
                          - totalRepos
                          - analysisStatus
                          - privateIndexingOptedInAt
                          - findingsBreakdown
                          properties:
                            githubOrgName:
                              type: string
                            provider:
                              type: string
                            scannedAt:
                              anyOf:
                              - format: date-time
                                type: string
                              - type: 'null'
                            scanCount:
                              type: number
                            totalSkills:
                              type: number
                            totalRepos:
                              type: number
                            analysisStatus:
                              anyOf:
                              - anyOf:
                                - type: string
                                  enum:
                                  - pending
                                - type: string
                                  enum:
                                  - complete
                                - type: string
                                  enum:
                                  - failed
                              - type: 'null'
                            privateIndexingOptedInAt:
                              anyOf:
                              - format: date-time
                                type: string
                              - type: 'null'
                            findingsBreakdown:
                              type: object
                              required:
                              - critical
                              - high
                              - medium
                              - low
                              properties:
                                critical:
                                  type: number
                                high:
                                  type: number
                                medium:
                                  type: number
                                low:
                                  type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    post:
      tags:
      - SkillInventory
      description: 'Creates (or returns) the workspace''s skill inventory for a connected SCM provider, deriving the org-equivalent from the workspace''s integration. This is the backend-driven bootstrap for the read-only scan model: after connecting a provider, create the inventory here, opt it into private indexing, then start a scan. Returns 422 (scm_not_connected) when the workspace has no integration for the requested provider. `created` is false when the inventory already existed.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              properties:
                provider:
                  anyOf:
                  - type: string
                    enum:
                    - github
                  - type: string
                    enum:
                    - gitlab
                  - type: string
                    enum:
                    - bitbucket
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - skill-inventory
                      attributes:
                        type: object
                        required:
                        - githubOrgName
                        - provider
                        - created
                        properties:
                          githubOrgName:
                            type: string
                          provider:
                            type: string
                          created:
                            type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                description: Unprocessable Entity
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unprocessable Entity
                      status:
                        type: number
                        enum:
                        - 422
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceNameOrID}/skill-inventories/{id}:
    get:
      tags:
      - SkillInventory
      description: Returns the authenticated header row for a workspace-scoped skill inventory.
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - githubOrgName
                - provider
                - workspaceId
                - totalSkills
                - totalRepos
                - totalUniqueSkills
                - scannedAt
                - scanCount
                - analysisStatus
                - analysisError
                - categoryBreakdown
                - topContributors
                - agentsDistribution
                - crossScanDelta
                - findingsBreakdown
                - skillSeverityBreakdown
                - privateIndexingOptedInAt
                - privateIndexingStatus
                - privateIndexingStartedAt
                - privateIndexingCompletedAt
                - privateIndexingRegisteredCount
                - privateIndexingSkippedCount
                - privateIndexingFailedCount
                - privateIndexingErrorMessage
                - autoScanEnabled
                - nextScheduledScanAt
                properties:
                  id:
                    type: string
                  githubOrgName:
                    type: string
                  provider:
                    type: string
                  workspaceId:
                    format: uuid
                    type: string
                  totalSkills:
                    type: number
                  totalRepos:
                    type: number
                  totalUniqueSkills:
                    anyOf:
                    - type: number
                    - type: 'null'
                  scannedAt:
                    anyOf:
                    - format: date-time
                      type: string
                    - type: 'null'
                  scanCount:
                    type: number
                  analysisStatus:
                    anyOf:
                    - anyOf:
                      - type: string
                        enum:
                        - pending
                      - type: string
                        enum:
                        - complete
                      - type: string
                        enum:
                        - failed
                    - type: 'null'
                  analysisError:
                    anyOf:
                    - type: string
                    - type: 'null'
                  categoryBreakdown:
                    type: object
                    required:
                    - firstParty
                    - thirdParty
                    - unknown
                    properties:
                      firstParty:
                        type: number
                      thirdParty:
                        type: number
                      unknown:
                        type: number
                  topContributors:
                    type: array
                    items:
                      type: object
                      required:
                      - email
                      - count
                      properties:
                        email:
                          type: string
                        count:
                          type: number
                  agentsDistribution:
                    type: array
                    items:
                      type: object
                      required:
                      - agent
                      - count
                      properties:
                        agent:
                          type: string
                        count:
                          type: number
                  crossScanDelta:
                    type: object
                    required:
                    - newFindingsCount
                    - resolvedFindingsCount
                    properties:
                      newFindingsCount:
                        type: number
                      resolvedFindingsCount:
                        type: number
                  findingsBreakdown:
                    type: object
                    required:
                    - critical
                    - high
                    - medium
                    - low
                    properties:
                      critical:
                        type: number
                      high:
                        type: number
                      medium:
                        type: number
                      low:
                        type: number
                  skillSeverityBreakdown:
                    type: object
                    required:
                    - critical
                    - high
                    - medium
                    - low
                    - clean
                    properties:
                      critical:
                        type: number
                      high:
                        type: number
                      medium:
                        type: number
                      low:
                        type: number
                      clean:
                        type: number
                  privateIndexingOptedInAt:
                    anyOf:
                    - format: date-time
                      type: string
                    - type: 'null'
                  privateIndexingStatus:
                    anyOf:
                    - anyOf:
                      - type: string
                        enum:
                        - indexing
                      - type: string
                        enum:
                        - complete
                      - type: string
                        enum:
                        - failed
                    - type: 'null'
                  privateIndexingStartedAt:
                    anyOf:
                    - format: date-time
                      type: string
                    - type: 'null'
                  privateIndexingCompletedAt:
                    anyOf:
                    - format: date-time
                      type: string
                    - type: 'null'
                  privateIndexingRegisteredCount:
                    type: number
                  privateIndexingSkippedCount:
                    type: number
                  privateIndexingFailedCount:
                    type: number
                  privateIndexingErrorMessage:
                    anyOf:
                    - type: string
                    - type: 'null'
                  autoScanEnabled:
                    type: boolean
                  nextScheduledScanAt:
                    anyOf:
                    - format: date-time
                      type: string
                    - type: 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    delete:
      tags:
      - SkillInventory
      description: 'Deletes a workspace-scoped skill inventory. Requires the `manage_integrations` permission (workspace manager or owner). The delete is a soft delete: the inventory and all its scans become inaccessible, but the org can be re-scanned later. Idempotent — deleting an already-deleted or unknown inventory returns 404.'
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '204':
          description: Default Response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceNameOrID}/skill-inventories/{id}/github-app-status:
    get:
      tags:
      - SkillInventory
      description: Reports whether the workspace's GitHub App installation is present, healthy, and covers the repos of the inventory's org. Preflight check for the private-indexing opt-in.
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - skill-inventory-github-app-status
                      attributes:
                        type: object
                        required:
                        - installed
                        - accountMatches
                        - healthy
                        - repositorySelection
                        - coverage
                        properties:
                          installed:
                            type: boolean
                          accountMatches:
                            type: boolean
                          healthy:
                            type: boolean
                          error:
                            type: string
                          repositorySelection:
                            anyOf:
                            - type: string
                              enum:
                              - all
                            - type: string
                              enum:
                              - selected
                            - type: 'null'
                          coverage:
                            type: object
                            required:
                            - coveredRepoCount
                            - totalRepoCount
                            - missingRepos
                            properties:
                              coveredRepoCount:
                                type: number
                              totalRepoCount:
                                type: number
                              missingRepos:
                                type: array
                                items:
                                  type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceNameOrID}/skill-inventories/{id}/import-status:
    get:
      tags:
      - SkillInventory
      description: Live import progress for a skill inventory’s most recent scan. Reports the current `phase` (`scanning` → `analysing` → `complete`, or `failed`) plus `reposScanned` climbing toward `reposTotal` and the running `skillsFound`. Before the scan has created its row the endpoint reports a zeroed `scanning` state.
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - inventoryId
                - phase
                - reposScanned
                - reposTotal
                - skillsFound
                - scanIndex
                - scannedAt
                properties:
                  inventoryId:
                    format: uuid
                    type: string
                  phase:
                    anyOf:
                    - type: string
                      enum:
                      - scanning
                    - type: string
                      enum:
                      - analysing
                    - type: string
                      enum:
                      - complete
                    - type: string
                      enum:
                      - failed
                  reposScanned:
                    type: number
                  reposTotal:
                    type: number
                  skillsFound:
                    type: number
                  scanIndex:
                    anyOf:
                    - type: number
                    - type: 'null'
                  scannedAt:
                    anyOf:
                    - format: date-time
                      type: string
                    - type: 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceNameOrID}/skill-inventories/source-preview:
    get:
      tags:
      - SkillInventory
      description: Provider-agnostic, workspace-level preview of a connected SCM source, before any skill inventory exists. Given a `provider` (github, gitlab, or bitbucket), returns whether that provider is connected for the workspace, the connected account/org/group/workspace, and how many repositories the connection can currently see. `repositorySelection` is GitHub-only and is null for other providers.
      parameters:
      - schema:
          anyOf:
          - type: string
            enum:
            - github
          - type: string
            enum:
            - gitlab
          - type: string
            enum:
            - bitbucket
          - type: string
            enum:
            - mockhub
        in: query
        name: provider
        required: true
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - skill-inventory-source
                      attributes:
                        type: object
                        required:
                        - provider
                        - connected
                        - account
                        - repositorySelection
                        - repoCount
                        properties:
                          provider:
                            anyOf:
                            - type: string
                              enum:
                              - github
                            - type: string
                              enum:
                              - gitlab
                            - type: string
                              enum:
                              - bitbucket
                            - type: string
                              enum:
                              - mockhub
                          connected:
                            type: boolean
                          account:
                            anyOf:
                            - type: object
                              required:
                              - login
                              - type
                              properties:
                                login:
                                  type: string
                                type:
                                  anyOf:
                                  - type: string
                                    enum:
                                    - organization
                                  - type: string
                                    enum:
                                    - user
                                  - type: 'null'
                            - type: 'null'
                          repositorySelection:
                            anyOf:
                            - type: string
                              enum:
                              - all
                            - type: string
                              enum:
                              - selected
                            - type: 'null'
                          repoCount:
                            type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceNameOrID}/skill-inventories/source-repos:
    get:
      tags:
      - SkillInventory
      description: Lists repositories the workspace’s connected SCM source can see, for the create-flow repo picker. Given a `provider` (github, gitlab, bitbucket, or the dev-only mockhub) and an optional `q`, runs a provider-side name search when `q` is present (so a huge org need not be enumerated to find a repo) or lists the first page of the account otherwise, returning the bare repo `name` (the scan filter key), the `owner/repo` `fullName`, and whether the repo is archived. Results are capped; `hasMore` signals the caller to narrow with `q`. 404s when the provider is not connected for the workspace or the onboarding feature flag is off.
      parameters:
      - schema:
          anyOf:
          - type: string
            enum:
            - github
          - type: string
            enum:
            - gitlab
          - type: string
            enum:
            - bitbucket
          - type: string
            enum:
            - mockhub
        in: query
        name: provider
        required: true
      - schema:
          type: string
        in: query
        name: q
        required: false
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    - next
                    - prev
                    properties:
                      self:
                        format: uri
                        type: string
                      next:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                      prev:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - skill-inventory-source-repo
                        attributes:
                          type: object
                          required:
                          - name
                          - fullName
                          - archived
                          properties:
                            name:
                              type: string
                            fullName:
                              type: string
                            archived:
                              type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceNameOrID}/skill-inventories/{id}/scans:
    get:
      tags:
      - SkillInventory
      description: Lists all Scans for a workspace-scoped skill inventory, newest first.
      parameters:
      - schema:
          default: -scanIndex
          anyOf:
          - type: array
            items:
              anyOf:
              - type: string
                enum:
                - scanIndex
              - type: string
                enum:
                - -scanIndex
          - anyOf:
            - type: string
              enum:
              - scanIndex
            - type: string
              enum:
              - -scanIndex
        in: query
        name: sort
        required: false
      - schema:
          minimum: 1
          maximum: 100
          default: 100
          type: number
        in: query
        name: page[size]
        required: false
      - schema:
          type: string
        in: query
        name: page[after]
        required: false
      - schema:
          type: string
        in: query
        name: page[before]
        required: false
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    - next
                    - prev
                    properties:
                      self:
                        format: uri
                        type: string
                      next:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                      prev:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - skill-inventory-scan
                        attributes:
                          type: object
                          required:
                          - scanIndex
                          - scannedAt
                          - analysisStatus
                          - countsNew
                          - countsSeen
                          - countsDeparted
                          - findingsAdded
                          - findingsResolved
                          properties:
                            scanIndex:
                              type: number
                            scannedAt:
                              format: date-time
                              type: string
                            analysisStatus:
                              anyOf:
                              - type: string
                                enum:
                                - pending
                              - type: string
                                enum:
                                - complete
                              - type: string
                                enum:
                                - failed
                            countsNew:
                              type: number
                            countsSeen:
                              type: number
                            countsDeparted:
                              type: number
                            findingsAdded:
                              type: number
                            findingsResolved:
                              type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceNameOrID}/skill-inventories/{id}/scans/{scanIndex}:
    get:
      tags:
      - SkillInventory
      description: Returns diff summary + Findings added/resolved for one Scan of a workspace-scoped skill inventory.
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        in: path
        name: scanIndex
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - scanIndex
                - scannedAt
                - analysisStatus
                - countsNew
                - countsSeen
                - countsDeparted
                - previousScanIndex
                - findingsAddedInScan
                - findingsResolvedByScan
                properties:
                  id:
                    format: uuid
                    type: string
                  scanIndex:
                    type: number
                  scannedAt:
                    format: date-time
                    type: string
                  analysisStatus:
                    anyOf:
                    - type: string
                      enum:
                      - pending
                    - type: string
                      enum:
                      - complete
                    - type: string
                      enum:
                      - failed
                  countsNew:
                    type: number
                  countsSeen:
                    type: number
                  countsDeparted:
                    type: number
                  previousScanIndex:
                    anyOf:
                    - type: number
                    - type: 'null'
                  findingsAddedInScan:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - archetype
                      - priority
                      - title
                      - description
                      - firstSeenScanId
                      - lastSeenScanId
                      properties:
                        id:
                          format: uuid
                          type: string
                        archetype:
                          type: string
                        priority:
                          anyOf:
                          - type: string
                            enum:
                            - critical
                          - type: string
                            enum:
                            - high
                          - type: string
                            enum:
                            - medium
                          - type: string
                            enum:
                            - low
                        title:
                          type: string
                        description:
                          type: string
                        firstSeenScanId:
                          format: uuid
                          type: string
                        lastSeenScanId:
                          format: uuid
                          type: string
                  findingsResolvedByScan:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - archetype
                      - priority
                      - title
                      - description
                      - firstSeenScanId
                      - lastSeenScanId
                      properties:
                        id:
                          format: uuid
                          type: string
                        archetype:
                          type: string
                        priority:
                          anyOf:
                          - type: string
                            enum:
                            - critical
                          - type: string
                            enum:
                            - high
                          - type: string
                            enum:
                            - medium
                          - type: string
                            enum:
                            - low
                        title:
                          type: string
                        description:
                          type: string
                        firstSeenScanId:
                          format: uuid
                          type: string
                        lastSeenScanId:
                          format: uuid
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceNameOrID}/skill-inventories/{id}/scans/{scanIndex}/indexing-results:
    get:
      tags:
      - SkillInventory
      description: 'Returns the per-skill first-party indexing results recorded for one Scan of a workspace-scoped skill inventory: each source SKILL.md that was processed during private indexing, with its repo/path, the outcome (indexed/skipped/failed), the reason when it wasn''t indexed, and when it was indexed. Newest first.'
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        in: path
        name: scanIndex
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  meta:
                    type: object
                    required:
                    - count
                    - scanId
                    - scanIndex
                    properties:
                      count:
                        type: number
                      scanId:
                        format: uuid
                        type: string
                      scanIndex:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          format: uuid
                          type: string
                        type:
                          type: string
                          enum:
                          - skill-inventory-indexing-result
                        attributes:
                          type: object
                          required:
                          - skillInstanceId
                          - logicalSkillId
                          - repoFullName
                          - path
                          - outcome
                          - reason
                          - indexedAt
                          properties:
                            skillInstanceId:
                              format: uuid
                              type: string
                            logicalSkillId:
                              anyOf:
                              - format: uuid
                                type: string
                              - type: 'null'
                            repoFullName:
                              type: string
                            path:
                              type: string
                            outcome:
                              anyOf:
                              - type: string
                                enum:
                                - indexed
                              - type: string
                                enum:
                                - skipped
                              - type: string
                                enum:
                                - failed
                            reason:
                              anyOf:
                              - type: string
                              - type: 'null'
                            indexedAt:
                              anyOf:
                              - format: date-time
                                type: string
                              - type: 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceNameOrID}/skill-inventories/{id}/catalog:
    get:
      tags:
      - SkillInventory
      description: Catalog lens — paginated list of current LogicalSkills for a workspace-scoped skill inventory.
      parameters:
      - schema:
          default: name
          anyOf:
          - type: array
            items:
              anyOf:
              - type: string
                enum:
                - name
              - type: string
                enum:
                - -name
              - type: string
                enum:
                - repo
              - type: string
                enum:
                - -repo
              - type: string
                enum:
                - lastModified
              - type: string
                enum:
                - -lastModified
              - type: string
                enum:
                - bodyBytes
              - type: string
                enum:
                - -bodyBytes
          - anyOf:
            - type: string
              enum:
              - name
            - type: string
              enum:
              - -name
            - type: string
              enum:
              - repo
            - type: string
              enum:
              - -repo
            - type: string
              enum:
              - lastModified
            - type: string
              enum:
              - -lastModified
            - type: string
              enum:
              - bodyBytes
            - type: string
              enum:
              - -bodyBytes
        in: query
        name: sort
        required: false
      - schema:
          minimum: 1
          maximum: 100
          default: 100
          type: number
        in: query
        name: page[size]
        required: false
      - schema:
          type: string
        in: query
        name: page[after]
        required: false
      - schema:
          type: string
        in: query
        name: page[before]
        required: false
      - schema:
          type: string
        in: query
        name: filter[category]
        required: false
      - schema:
          type: string
        in: query
        name: filter[category][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[category][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[category][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[category][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[category][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[category][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[category][like]
        required: false
      - schema:
          type: string
        in: query
        name: filter[sourceType]
        required: false
      - schema:
          type: string
        in: query
        name: filter[sourceType][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[sourceType][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[sourceType][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[sourceType][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[sourceType][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[sourceType][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[sourceType][like]
        required: false
      - schema:
          type: string
        in: query
        name: filter[agent]
        required: false
      - schema:
          type: string
        in: query
        name: filter[agent][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[agent][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[agent][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[agent][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[agent][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[agent][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[agent][like]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[inTestFixtures]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[inTestFixtures][eq]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[inTestFixtures][ne]
        required: false
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    - next
                    - prev
                    properties:
                      self:
                        format: uri
                        type: string
                      next:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                      prev:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          format: uuid
                          type: string
                        type:
                          type: string
                          enum:
                          - skill-inventory-catalog-entry
                        attributes:
                          type: object
                          required:
                          - scm
                          - canonicalRepo
                          - canonicalName
                          - version
                          - description
                          - instanceCount
                          - repoCount
                          - category
                          - sourceType
                          - agents
                          - inTestFixtures
                          - lastModifiedAt
                          - bodyBytes
                          properties:
                            scm:
                              type: string
                            canonicalRepo:
                              type: string
                            canonicalName:
                              type: string
                            version:
                              anyOf:
                              - type: string
                              - type: 'null'
                            description:
                              anyOf:
                              - type: string
                              - type: 'null'
                            instanceCount:
                              type: number
                            repoCount:
                              type: number
                            category:
                              anyOf:
                              - type: string
                                enum:
                                - first-party
                              - type: string
                                enum:
                                - third-party
                              - type: string
                                enum:
                                - unknown
                            sourceType:
                              anyOf:
                              - type: string
                                enum:
                                - tile.json
                              - type: string
                                enum:
                                - plugin.json
                              - type: string
                                enum:
                                - claude-marketplace
                              - type: string
                                enum:
                                - tessl.json-dependency
                              - type: string
                                enum:
                                - intra-org-canonical
                              - type: string
                                enum:
                                - intra-org-copy
                              - type: string
                                enum:
                                - registry-match
                              - type: string
                                enum:
                                - none
                            agents:
                              type: array
                              items:
                                type: string
                            inTestFixtures:
                              type: boolean
                            lastModifiedAt:
                              anyOf:
                              - format: date-time
                                type: string
                              - type: 'null'
                            bodyBytes:
                              anyOf:
                              - type: number
                              - type: 'null'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceNameOrID}/skill-inventories/{id}/by-repo:
    get:
      tags:
      - SkillInventory
      description: By-repo lens — paginated current InventoryRepos with nested LogicalSkill summaries.
      parameters:
      - schema:
          default: fullName
          anyOf:
          - type: array
            items:
              anyOf:
              - type: string
                enum:
                - fullName
              - type: string
                enum:
                - -fullName
              - type: string
                enum:
                - pushedAt
              - type: string
                enum:
                - -pushedAt
          - anyOf:
            - type: string
              enum:
              - fullName
            - type: string
              enum:
              - -fullName
            - type: string
              enum:
              - pushedAt
            - type: string
              enum:
              - -pushedAt
        in: query
        name: sort
        required: false
      - schema:
          minimum: 1
          maximum: 100
          default: 100
          type: number
        in: query
        name: page[size]
        required: false
      - schema:
          type: string
        in: query
        name: page[after]
        required: false
      - schema:
          type: string
        in: query
        name: page[before]
        required: false
      - schema:
          type: string
        in: path
        name: workspaceNameOrID
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    - next
                    - prev
                    properties:
                      self:
                        format: uri
                        type: string
                      next:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                      prev:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          format: uuid
                          type: string
                        type:
                          type: string
                          enum:
                          - skill-inventory-repo-group
                        attributes:
                          type: object
                          required:
                          - fullName
                          - name
                          - url
                          - description
                          - visibility
                          - language
                          - defaultBranch
                          - pushedAt
                          - logicalSkills
                          - findingsCount
                          - worstPriority
                          properties:
                            fullName:
                              type: string
                            name:
                              type: string
                            url:
                              type: string
                            description:
                              anyOf:
[...]
