openapi: 3.1.1
info:
  title: Tessl Admin Keys Workspaces API
  version: 1.0.0
  description: Admin-scoped API keys for support tooling.
servers:
- url: https://api.tessl.io
tags:
- name: Workspaces
  description: Workspaces and workspace membership.
paths:
  /v1/workspaces:
    get:
      tags:
      - Workspaces
      description: Lists workspaces with name/org/membership/archived filters.
      parameters:
      - schema:
          default: -updatedAt
          anyOf:
          - type: array
            items:
              anyOf:
              - type: string
                enum:
                - name
              - type: string
                enum:
                - -name
              - type: string
                enum:
                - updatedAt
              - type: string
                enum:
                - -updatedAt
          - anyOf:
            - type: string
              enum:
              - name
            - type: string
              enum:
              - -name
            - type: string
              enum:
              - updatedAt
            - type: string
              enum:
              - -updatedAt
        in: query
        name: sort
        required: false
      - schema:
          minimum: 1
          maximum: 100
          default: 100
          type: number
        in: query
        name: page[size]
        required: false
      - schema:
          type: string
        in: query
        name: page[after]
        required: false
      - schema:
          type: string
        in: query
        name: page[before]
        required: false
      - schema:
          type: string
        in: query
        name: filter[name]
        required: false
      - schema:
          type: string
        in: query
        name: filter[name][eq]
        required: false
      - schema:
          type: string
        in: query
        name: filter[name][ne]
        required: false
      - schema:
          type: string
        in: query
        name: filter[name][gt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[name][gte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[name][lt]
        required: false
      - schema:
          type: string
        in: query
        name: filter[name][lte]
        required: false
      - schema:
          type: string
        in: query
        name: filter[name][like]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[orgId]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[orgId][eq]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[orgId][ne]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[orgId][gt]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[orgId][gte]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[orgId][lt]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[orgId][lte]
        required: false
      - schema:
          format: uuid
          type: string
        in: query
        name: filter[orgId][like]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[isMember]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[isMember][eq]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[isMember][ne]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[archived]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[archived][eq]
        required: false
      - schema:
          type: boolean
        in: query
        name: filter[archived][ne]
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    - next
                    - prev
                    properties:
                      self:
                        format: uri
                        type: string
                      next:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                      prev:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - meta
                      properties:
                        id:
                          format: uuid
                          type: string
                        type:
                          type: string
                          enum:
                          - workspace
                        attributes:
                          type: object
                          required:
                          - name
                          - createdAt
                          - updatedAt
                          properties:
                            name:
                              type: string
                            createdAt:
                              type: string
                            updatedAt:
                              type: string
                        meta:
                          type: object
                          required:
                          - allowedActions
                          properties:
                            allowedActions:
                              type: array
                              items:
                                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    post:
      tags:
      - Workspaces
      description: Creates a new workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
              required:
              - name
              properties:
                name:
                  minLength: 4
                  maxLength: 40
                  pattern: ^[0-9a-z-]+$
                  type: string
                orgId:
                  format: uuid
                  type: string
      parameters:
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - workspace
                      attributes:
                        type: object
                        required:
                        - name
                        properties:
                          name:
                            type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceIdOrName}:
    get:
      tags:
      - Workspaces
      description: Fetches a workspace by id or name.
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceIdOrName
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - meta
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - workspace
                      attributes:
                        type: object
                        required:
                        - name
                        - createdAt
                        - updatedAt
                        properties:
                          name:
                            type: string
                          blockPublicTilePublish:
                            type: boolean
                          securityReviewsEnabled:
                            type: boolean
                          evalsEnabled:
                            type: boolean
                          orgDefaultRole:
                            anyOf:
                            - anyOf:
                              - type: string
                                enum:
                                - owner
                              - type: string
                                enum:
                                - manager
                              - type: string
                                enum:
                                - publisher
                              - type: string
                                enum:
                                - member
                              - type: string
                                enum:
                                - consumer
                            - type: 'null'
                          createdAt:
                            format: date-time
                            type: string
                          updatedAt:
                            format: date-time
                            type: string
                      meta:
                        type: object
                        required:
                        - allowedActions
                        properties:
                          allowedActions:
                            type: array
                            items:
                              type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceId}:
    patch:
      tags:
      - Workspaces
      description: 'Updates a workspace: rename, archive, restore, or update settings (blockPublicTilePublish, securityReviewsEnabled, evalsEnabled, orgDefaultRole).'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - minProperties: 1
                type: object
                properties:
                  name:
                    minLength: 4
                    maxLength: 40
                    pattern: ^[0-9a-z-]+$
                    type: string
                  blockPublicTilePublish:
                    type: boolean
                  securityReviewsEnabled:
                    type: boolean
                  evalsEnabled:
                    type: boolean
                  orgDefaultRole:
                    anyOf:
                    - anyOf:
                      - type: string
                        enum:
                        - publisher
                      - type: string
                        enum:
                        - member
                      - type: string
                        enum:
                        - consumer
                    - type: 'null'
              - type: object
                allOf:
                - minProperties: 1
                  type: object
                  properties:
                    name:
                      minLength: 4
                      maxLength: 40
                      pattern: ^[0-9a-z-]+$
                      type: string
                    blockPublicTilePublish:
                      type: boolean
                    securityReviewsEnabled:
                      type: boolean
                    evalsEnabled:
                      type: boolean
                    orgDefaultRole:
                      anyOf:
                      - anyOf:
                        - type: string
                          enum:
                          - publisher
                        - type: string
                          enum:
                          - member
                        - type: string
                          enum:
                          - consumer
                      - type: 'null'
                - type: object
                  required:
                  - archived
                  properties:
                    archived:
                      type: boolean
                      enum:
                      - false
              - type: object
                allOf:
                - minProperties: 1
                  type: object
                  properties:
                    name:
                      minLength: 4
                      maxLength: 40
                      pattern: ^[0-9a-z-]+$
                      type: string
                    blockPublicTilePublish:
                      type: boolean
                    securityReviewsEnabled:
                      type: boolean
                    evalsEnabled:
                      type: boolean
                    orgDefaultRole:
                      anyOf:
                      - anyOf:
                        - type: string
                          enum:
                          - publisher
                        - type: string
                          enum:
                          - member
                        - type: string
                          enum:
                          - consumer
                      - type: 'null'
                - type: object
                  required:
                  - archived
                  - archivedReason
                  properties:
                    archived:
                      type: boolean
                      enum:
                      - true
                    archivedReason:
                      type: string
      parameters:
      - schema:
          format: uuid
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - workspace
                      attributes:
                        type: object
                        required:
                        - name
                        - archived
                        - archivedAt
                        - archivedBy
                        - archivedReason
                        - blockPublicTilePublish
                        - securityReviewsEnabled
                        - evalsEnabled
                        - orgDefaultRole
                        - createdAt
                        - updatedAt
                        properties:
                          name:
                            type: string
                          archived:
                            type: boolean
                          archivedAt:
                            anyOf:
                            - format: date-time
                              type: string
                            - type: 'null'
                          archivedBy:
                            anyOf:
                            - format: uuid
                              type: string
                            - type: 'null'
                          archivedReason:
                            anyOf:
                            - type: string
                            - type: 'null'
                          blockPublicTilePublish:
                            type: boolean
                          securityReviewsEnabled:
                            type: boolean
                          evalsEnabled:
                            type: boolean
                          orgDefaultRole:
                            anyOf:
                            - anyOf:
                              - type: string
                                enum:
                                - owner
                              - type: string
                                enum:
                                - manager
                              - type: string
                                enum:
                                - publisher
                              - type: string
                                enum:
                                - member
                              - type: string
                                enum:
                                - consumer
                            - type: 'null'
                          createdAt:
                            format: date-time
                            type: string
                          updatedAt:
                            format: date-time
                            type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Bad Request
                      status:
                        type: number
                        enum:
                        - 400
                      message:
                        type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    delete:
      tags:
      - Workspaces
      description: Deletes a workspace by id.
      parameters:
      - schema:
          format: uuid
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '204':
          description: Default Response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceId}/onboarding:
    get:
      tags:
      - Workspaces
      description: Returns the onboarding checklist state for a workspace.
      parameters:
      - schema:
          format: uuid
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - steps
                    properties:
                      steps:
                        type: array
                        items:
                          type: object
                          required:
                          - id
                          - completed
                          - optional
                          properties:
                            id:
                              anyOf:
                              - type: string
                                enum:
                                - setup-github
                              - type: string
                                enum:
                                - add-registry-key
                              - type: string
                                enum:
                                - generate-tile
                            completed:
                              type: boolean
                            optional:
                              type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceId}/members:
    get:
      tags:
      - Workspaces
      description: Lists the members of a workspace.
      parameters:
      - schema:
          default: username
          anyOf:
          - type: array
            items:
              anyOf:
              - type: string
                enum:
                - username
              - type: string
                enum:
                - -username
          - anyOf:
            - type: string
              enum:
              - username
            - type: string
              enum:
              - -username
        in: query
        name: sort
        required: false
      - schema:
          minimum: 1
          maximum: 100
          default: 100
          type: number
        in: query
        name: page[size]
        required: false
      - schema:
          type: string
        in: query
        name: page[after]
        required: false
      - schema:
          type: string
        in: query
        name: page[before]
        required: false
      - schema:
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    - next
                    - prev
                    properties:
                      self:
                        format: uri
                        type: string
                      next:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                      prev:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          format: uuid
                          type: string
                        type:
                          type: string
                          enum:
                          - user
                        attributes:
                          type: object
                          required:
                          - username
                          - firstName
                          - lastName
                          - profilePictureUrl
                          - role
                          - directRole
                          properties:
                            username:
                              type: string
                            firstName:
                              anyOf:
                              - type: string
                              - type: 'null'
                            lastName:
                              anyOf:
                              - type: string
                              - type: 'null'
                            profilePictureUrl:
                              anyOf:
                              - type: string
                              - type: 'null'
                            role:
                              anyOf:
                              - type: string
                                enum:
                                - owner
                              - type: string
                                enum:
                                - manager
                              - type: string
                                enum:
                                - publisher
                              - type: string
                                enum:
                                - member
                              - type: string
                                enum:
                                - consumer
                              description: 'Effective workspace role (highest applicable): org admins surface as `owner`, and org members inherit the workspace''s org-default role when it is higher than their stored role.'
                            directRole:
                              anyOf:
                              - type: string
                                enum:
                                - owner
                              - type: string
                                enum:
                                - manager
                              - type: string
                                enum:
                                - publisher
                              - type: string
                                enum:
                                - member
                              - type: string
                                enum:
                                - consumer
                              description: Stored workspace membership role, ignoring org-admin and org-default elevation. May be lower than `role`.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    post:
      tags:
      - Workspaces
      description: Adds a user as a member of a workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
              required:
              - memberId
              - role
              properties:
                memberId:
                  type: string
                role:
                  anyOf:
                  - type: string
                    enum:
                    - owner
                  - type: string
                    enum:
                    - manager
                  - type: string
                    enum:
                    - publisher
                  - type: string
                    enum:
                    - member
                  - type: string
                    enum:
                    - consumer
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - user
                      attributes:
                        type: object
                        required:
                        - role
                        properties:
                          role:
                            anyOf:
                            - type: string
                              enum:
                              - owner
                            - type: string
                              enum:
                              - manager
                            - type: string
                              enum:
                              - publisher
                            - type: string
                              enum:
                              - member
                            - type: string
                              enum:
                              - consumer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /v1/workspaces/{workspaceId}/members/{userId}:
    patch:
      tags:
      - Workspaces
      description: Updates a workspace member's role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
              required:
              - role
              properties:
                role:
                  anyOf:
                  - type: string
                    enum:
                    - owner
                  - type: string
                    enum:
                    - manager
                  - type: string
                    enum:
                    - publisher
                  - type: string
                    enum:
                    - member
                  - type: string
                    enum:
                    - consumer
      parameters:
      - schema:
          format: uuid
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: userId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - user
                      attributes:
                        type: object
                        required:
                        - role
                        properties:
                          role:
                            anyOf:
                            - type: string
                              enum:
                              - owner
                            - type: string
                              enum:
                              - manager
                            - type: string
                              enum:
                              - publisher
                            - type: string
                              enum:
                              - member
                            - type: string
                              enum:
                              - consumer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    delete:
      tags:
      - Workspaces
      description: Removes a member from a workspace. Cannot remove the last owner.
      parameters:
      - schema:
          format: uuid
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: userId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '204':
          description: Default Response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /experimental/workspaces/{workspaceId}/integrations:
    get:
      tags:
      - Workspaces
      description: Lists integrations (GitHub, GitLab, Linear) configured for a workspace.
      parameters:
      - schema:
          default: -updatedAt
          anyOf:
          - type: array
            items:
              anyOf:
              - type: string
                enum:
                - updatedAt
              - type: string
                enum:
                - -updatedAt
          - anyOf:
            - type: string
              enum:
              - updatedAt
            - type: string
              enum:
              - -updatedAt
        in: query
        name: sort
        required: false
      - schema:
          minimum: 1
          maximum: 100
          default: 100
          type: number
        in: query
        name: page[size]
        required: false
      - schema:
          type: string
        in: query
        name: page[after]
        required: false
      - schema:
          type: string
        in: query
        name: page[before]
        required: false
      - schema:
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - meta
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    - next
                    - prev
                    properties:
                      self:
                        format: uri
                        type: string
                      next:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                      prev:
                        anyOf:
                        - format: uri
                          type: string
                        - type: 'null'
                  meta:
                    type: object
                    required:
                    - count
                    properties:
                      count:
                        type: number
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          format: uuid
                          type: string
                        type:
                          type: string
                          enum:
                          - integration
                        attributes:
                          anyOf:
                          - type: object
                            required:
                            - type
                            - installedBy
                            - connectionData
                            - metadata
                            - createdAt
                            - updatedAt
                            properties:
                              type:
                                type: string
                                enum:
                                - github-app
                              installedBy:
                                format: uuid
                                type: string
                              connectionData:
                                type: object
                                required:
                                - installationId
                                - installationTarget
                                properties:
                                  installationId:
                                    type: number
                                  installationTarget:
                                    type: string
                              metadata:
                                type: object
                                required:
                                - installedByGitHubUser
                                - installedIntoAccountName
                                - installedIntoAccountType
                                properties:
                                  installedByGitHubUser:
                                    type: number
                                  installedIntoAccountName:
                                    type: string
                                  installedIntoAccountType:
                                    anyOf:
                                    - type: string
                                      enum:
                                      - organization
                                    - type: string
                                      enum:
                                      - user
                                    - type: string
                                      enum:
                                      - enterprise
                              createdAt:
                                type: string
                              updatedAt:
                                type: string
                          - type: object
                            required:
                            - type
                            - installedBy
                            - connectionData
                            - metadata
                            - createdAt
                            - updatedAt
                            properties:
                              type:
                                type: string
                                enum:
                                - github-app-agent
                              installedBy:
                                format: uuid
                                type: string
                              connectionData:
                                type: object
                                required:
                                - installationId
                                - installationTarget
                                properties:
                                  installationId:
                                    type: number
                                  installationTarget:
                                    type: string
                              metadata:
                                type: object
                                required:
                                - installedByGitHubUser
                                - installedIntoAccountName
                                - installedIntoAccountType
                                properties:
                                  installedByGitHubUser:
                                    type: number
                                  installedIntoAccountName:
                                    type: string
                                  installedIntoAccountType:
                                    anyOf:
                                    - type: string
                                      enum:
                                      - organization
                                    - type: string
                                      enum:
                                      - user
                                    - type: string
                                      enum:
                                      - enterprise
                              createdAt:
                                type: string
                              updatedAt:
                                type: string
                          - type: object
                            required:
                            - type
                            - installedBy
                            - connectionData
                            - metadata
                            - createdAt
                            - updatedAt
                            properties:
                              type:
                                type: string
                                enum:
                                - gitlab-token
                              installedBy:
                                format: uuid
                                type: string
                              connectionData:
                                anyOf:
                                - type: object
                                  required:
                                  - scopeType
                                  - host
                                  - groupPath
                                  - secretId
                                  properties:
                                    scopeType:
                                      type: string
                                      enum:
                                      - group
                                    host:
                                      type: string
                                    groupPath:
                                      type: string
                                    secretId:
                                      type: string
                                - type: object
                                  required:
                                  - scopeType
                                  - host
                                  - projectPath
                                  - secretId
                                  properties:
                                    scopeType:
                                      type: string
                                      enum:
                                      - project
                                    host:
                                      type: string
                                    projectPath:
                                      type: string
                                    secretId:
                                      type: string
                              metadata:
                                type: object
                                properties: {}
                              createdAt:
                                type: string
                              updatedAt:
                                type: string
                          - type: object
                            required:
                            - type
                            - installedBy
                            - connectionData
                            - metadata
                            - createdAt
                            - updatedAt
                            properties:
                              type:
                                type: string
                                enum:
                                - linear
                              installedBy:
                                format: uuid
                                type: string
                              connectionData:
                                type: object
                                required:
                                - linearOrganizationId
                                - agentAppUserId
                                properties:
                                  linearOrganizationId:
                                    type: string
                                  agentAppUserId:
                                    type: string
                                  targetRepo:
                                    type: string
                                  taskDelegation:
                                    additionalProperties: false
                                    type: object
                                    required:
                                    - entrypoint
                                    properties:
                                      entrypoint:
                                        additionalProperties: false
                                        type: object
                                        required:
                                        - plugin
                                        - skill
                                        properties:
                                          plugin:
                                            type: string
                                          skill:
                                            type: string
                                      delegationStateName:
                                        type: string
                                      environmentName:
                                        minLength: 1
                                        type: string
                                  scope:
                                    type: string
                                  reconnectRequired:
                                    type: boolean
                              metadata:
                                type: object
                                properties:
                                  linearOrganizationName:
                                    type: string
                              createdAt:
                                type: string
                              updatedAt:
                                type: string
                          - type: object
                            required:
                            - type
                            - installedBy
                            - connectionData
                            - metadata
                            - createdAt
                            - updatedAt
                            properties:
                              type:
                                type: string
                                enum:
                                - bitbucket-cloud-oauth
                              installedBy:
                                format: uuid
                                type: string
                              connectionData:
                                type: object
                                required:
                                - workspaceSlug
                                - accountId
                                properties:
                                  workspaceSlug:
                                    type: string
                                  accountId:
                                    type: string
                                  scope:
                                    type: string
                                  reconnectRequired:
                                    type: boolean
                              metadata:
                                type: object
                                properties:
                                  workspaceName:
                                    type: string
                                  installedByDisplayName:
                                    type: string
                              createdAt:
                                type: string
                              updatedAt:
                                type: string
                          - type: object
                            required:
                            - type
                            - installedBy
                            - connectionData
                            - metadata
                            - createdAt
                            - updatedAt
                            properties:
                              type:
                                type: string
                                enum:
                                - mockhub
                              installedBy:
                                format: uuid
                                type: string
                              connectionData:
                                type: object
                                required:
                                - seed
                                - org
                                - config
                                properties:
                                  seed:
                                    type: number
                                  org:
                                    type: string
                                  config:
                                    type: object
                                    required:
                                    - repoCount
                                    - skillRepoFraction
                                    - minSkillsPerRepo
                                    - maxSkillsPerRepo
                                    - manifestCount
                                    - minSkillSentences
                                    - maxSkillSentences
                                    - duplicateClusterFraction
                                    properties:
                                      repoCount:
                                        type: number
                                      skillRepoFraction:
                                        type: number
                                      minSkillsPerRepo:
                                        type: number
                                      maxSkillsPerRepo:
                                        type: number
                                      manifestCount:
                                        type: number
                                      minSkillSentences:
                                        type: number
                                      maxSkillSentences:
                                        type: number
                                      duplicateClusterFraction:
                                        type: number
                              metadata:
                                type: object
                                properties: {}
                              createdAt:
                                type: string
                              updatedAt:
                                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /experimental/workspaces/{workspaceId}/integrations/{integrationId}:
    delete:
      tags:
      - Workspaces
      description: Removes an integration from a workspace.
      parameters:
      - schema:
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          type: string
        in: path
        name: integrationId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '204':
          description: Default Response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
    patch:
      tags:
      - Workspaces
      description: Updates the connectionData on a Linear integration. `targetRepo` and `taskDelegation` are independently editable; pass `null` to clear either. Writing `taskDelegation` requires the `linear-task-mirroring` feature flag.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              minProperties: 1
              type: object
              properties:
                targetRepo:
                  anyOf:
                  - minLength: 1
                    type: string
                  - type: 'null'
                taskDelegation:
                  anyOf:
                  - additionalProperties: false
                    type: object
                    required:
                    - entrypoint
                    properties:
                      entrypoint:
                        additionalProperties: false
                        type: object
                        required:
                        - plugin
                        - skill
                        properties:
                          plugin:
                            type: string
                          skill:
                            type: string
                      delegationStateName:
                        type: string
                      environmentName:
                        minLength: 1
                        type: string
                  - type: 'null'
      parameters:
      - schema:
          format: uuid
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          format: uuid
          type: string
        in: path
        name: integrationId
        required: true
      - schema:
          type: string
        example: Bearer <token>
        in: header
        name: Authorization
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                required:
                - links
                - data
                properties:
                  links:
                    type: object
                    required:
                    - self
                    properties:
                      self:
                        format: uri
                        type: string
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        format: uuid
                        type: string
                      type:
                        type: string
                        enum:
                        - integration
                      attributes:
                        type: object
                        required:
                        - type
                        - installedBy
                        - connectionData
                        - metadata
                        - createdAt
                        - updatedAt
                        properties:
                          type:
                            type: string
                            enum:
                            - linear
                          installedBy:
                            format: uuid
                            type: string
                          connectionData:
                            type: object
                            required:
                            - linearOrganizationId
                            - agentAppUserId
                            properties:
                              linearOrganizationId:
                                type: string
                              agentAppUserId:
                                type: string
                              targetRepo:
                                type: string
                              taskDelegation:
                                additionalProperties: false
                                type: object
                                required:
                                - entrypoint
                                properties:
                                  entrypoint:
                                    additionalProperties: false
                                    type: object
                                    required:
                                    - plugin
                                    - skill
                                    properties:
                                      plugin:
                                        type: string
                                      skill:
                                        type: string
                                  delegationStateName:
                                    type: string
                                  environmentName:
                                    minLength: 1
                                    type: string
                              scope:
                                type: string
                              reconnectRequired:
                                type: boolean
                          metadata:
                            type: object
                            properties:
                              linearOrganizationName:
                                type: string
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Bad Request
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Bad Request
                      status:
                        type: number
                        enum:
                        - 400
                      message:
                        type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Unauthorized
                      status:
                        type: number
                        enum:
                        - 401
                      message:
                        type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Forbidden
                      status:
                        type: number
                        enum:
                        - 403
                      message:
                        type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: Not Found
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Not Found
                      status:
                        type: number
                        enum:
                        - 404
                      message:
                        type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Internal Server Error
                type: object
                required:
                - error
                properties:
                  error:
                    type: object
                    required:
                    - title
                    - status
                    - message
                    properties:
                      title:
                        type: string
                        enum:
                        - Internal Server Error
                      status:
                        type: number
                        enum:
                        - 500
                      message:
                        type: string
  /experimental/workspaces/{workspaceId}/integrations/{integrationId}/linear/metadata:
    get:
      tags:
      - Workspaces
      description: Returns the connected Linear org's workflow states across all teams. Each state carries its name, type, and owning team, so a caller can choose a delegation state to store in the task-delegation config.
      parameters:
      - schema:
          format: uuid
          type: string
        in: path
        name: workspaceId
        required: true
      - schema:
          format: uuid
          type: string
[...]
